force-app/main/default/flows/Create_Reservation_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Save_Appointment</name>
        <label>Copy 1 of Save Appointment</label>
        <locationX>625</locationX>
        <locationY>2846</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>update_appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AppointmentToken</assignToReference>
            <name>appointmentToken</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Extract_Territory_Name</name>
        <label>Extract Territory Name</label>
        <locationX>625</locationX>
        <locationY>566</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Territory_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ServiceTerritory</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dedupe</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Service_Terrirories</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>625</locationX>
        <locationY>5390</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>IsAddAttendeesCheckboxSelected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AppointmentToken</assignToReference>
            <name>appointmentToken</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Service_Appointment_Values</name>
        <label>Assign Service Appointment Values</label>
        <locationX>625</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trainer_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ServiceResourceId_Asset</name>
        <label>Assign ServiceResourceId Asset</label>
        <locationX>1058</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ServiceResourceId_when_more</name>
        <label>Assign ServiceResourceId when more</label>
        <locationX>618</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_resources.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SR_JSON_String_Subflow_Flow_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Fields</name>
        <label>Assign Values to Fields</label>
        <locationX>280</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>test@test.sk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trening s ARX strojom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Review_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_ServiceResourceId</name>
        <label>Assigne ServiceResourceId</label>
        <locationX>490</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_trainers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_trainers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Selected_Values_on_Change</name>
        <label>Clear Selected Values on Change</label>
        <locationX>185</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0Hnbm0000001X3ZCAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttendeesStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>skillsStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Resource_Change_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Trainers</name>
        <label>count Trainers</label>
        <locationX>510</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>countTrainers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Valid_Resources.validServiceResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_trainers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Status</name>
        <label>Set Anonymous Status</label>
        <locationX>405</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triage_Option</name>
        <label>Set Triage Option</label>
        <locationX>405</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>405</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointmentTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>141</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>625</locationX>
        <locationY>5798</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets HideAppointmentModeSelectionOptions to False.</description>
        <name>SetHideAppointmentModeSelectionOptionsFalse</name>
        <label>Set Hide Appointment Mode Selection Options Variable</label>
        <locationX>757</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>HideAppointmentModeSelectionOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets HideAppointmentModeSelectionOptions to True.</description>
        <name>SetHideAppointmentModeSelectionOptionsTrue</name>
        <label>Set Hide Appointment Mode Selection Options Variable</label>
        <locationX>493</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>HideAppointmentModeSelectionOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValues</name>
        <label>Set Initial Values</label>
        <locationX>625</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTimezone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.EngagementChannelTypeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Terrirories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>405</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LocationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>625</locationX>
        <locationY>5174</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow’s current stage to SelectGroupAppointmentDetailsStage, and sets AppointmentCategory to the value of the appointmentMode variable.</description>
        <name>SetStageToSelectGroupAppointmentDetails</name>
        <label>Set Stage to Select Group Appointment Details</label>
        <locationX>493</locationX>
        <locationY>4874</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectGroupAppointmentDetailsStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.AppointmentMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectGroupServiceAppointmentDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>405</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>625</locationX>
        <locationY>6698</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the value that indicates that the AddOrModifySvcApptAttendees flow is invoked and the service appointment attendee enrollment summary is shown on the parent flow’s confirmation screen.</description>
        <name>CompositeMode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Composite</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value that indicates that the service appointment mode is Group.</description>
        <name>Group</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value that indicates that the service appointment mode is Regular.</description>
        <name>Regular</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Trainer</name>
        <label>Any Trainer</label>
        <locationX>280</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>count_Trainers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any</defaultConnectorLabel>
        <rules>
            <name>No_trainers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valid_Resources.NoServiceResources</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoTrainer_Screen</targetReference>
            </connector>
            <label>No trainers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Primary</name>
        <label>Change Primary</label>
        <locationX>405</locationX>
        <locationY>4658</locationY>
        <defaultConnector>
            <targetReference>IsServiceAppointmentModeGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Primary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Selected_Values_on_Change</targetReference>
            </connector>
            <label>Change Primary Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to display the service appointment mode selection options by checking if appointmentMode is either Group or Regular.</description>
        <name>DisplayServiceAppointmentModeSelectionOptions</name>
        <label>Display Service Appointment Mode Selection Options?</label>
        <locationX>625</locationX>
        <locationY>6290</locationY>
        <defaultConnector>
            <targetReference>SetHideAppointmentModeSelectionOptionsFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoNotDisplayServiceAppointmentModeSelectionOptions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>appointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Regular</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHideAppointmentModeSelectionOptionsTrue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_trainers</name>
        <label>How many trainers?</label>
        <locationX>510</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Select_Trainer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More</defaultConnectorLabel>
        <rules>
            <name>only_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countTrainers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_trainers</targetReference>
            </connector>
            <label>only 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Add Attendees to Service Appointment checkbox is selected on the ScreenSelectGroupServiceAppointmentDetails screen.</description>
        <name>IsAddAttendeesCheckboxSelected</name>
        <label>Is Add Attendees Checkbox Selected?</label>
        <locationX>625</locationX>
        <locationY>5498</locationY>
        <defaultConnector>
            <targetReference>SetConfirmationStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxAddAttendees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOrModifyAttendees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the service appointment mode is Group.</description>
        <name>IsServiceAppointmentModeGroup</name>
        <label>Is Service Appointment Mode Group?</label>
        <locationX>625</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>SetReviewStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsGroupServiceAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AppointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStageToSelectGroupAppointmentDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Resource_Change_Screen_Decision</name>
        <label>Primary Resource Change Screen Decision</label>
        <locationX>185</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>DisplayServiceAppointmentModeSelectionOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_By_Resource_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>405</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>SetTimeSlotStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FindResource</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource</label>
        </rules>
        <rules>
            <name>Anonymous_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous_Status</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Selection_Screen_Decision</name>
        <label>Service Resource Selection Screen Decision</label>
        <locationX>625</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>DisplayServiceAppointmentModeSelectionOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>endFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
        <rules>
            <name>Anonymous_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
        <rules>
            <name>Filter_By_Resource_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trainer_Needed</name>
        <label>Trainer Needed?</label>
        <locationX>625</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_Resources_no_trainer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Trainer</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkType_Group.Personal_Trainer_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_Resources</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the picklist choice set used in the Group Appointment Access Type option on the ScreenSelectGroupServiceAppointmentDetails screen.</description>
        <name>ChoiceUsersAddedAsAttendeesAndExperienceSiteUsers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GroupAppointmentAccessType</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaServiceResources</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;UserPhoto&quot;:&quot;&quot;,&quot;ServiceTerritoryMemberId&quot;:&quot;0Hubm0000000VDWCA2&quot;,&quot;IsActive&quot;:true,&quot;ResourceType&quot;:&quot;S&quot;,&quot;RelatedRecordId&quot;:null,&quot;Id&quot;:&quot;0Hnbm0000001TuPCAU&quot;,&quot;Name&quot;:&quot;ARX OMEGA&quot;,&quot;sobjectType&quot;:&quot;ServiceResource&quot;,&quot;AttendanceType&quot;:&quot;Required&quot;},{&quot;UserPhoto&quot;:&quot;&quot;,&quot;ServiceTerritoryMemberId&quot;:&quot;0Hubm0000000Va5CAE&quot;,&quot;IsActive&quot;:true,&quot;ResourceType&quot;:&quot;T&quot;,&quot;RelatedRecordId&quot;:&quot;005bm000002r49HAAQ&quot;,&quot;Id&quot;:&quot;0Hnbm0000001X3ZCAU&quot;,&quot;Name&quot;:&quot;Simon&quot;,&quot;sobjectType&quot;:&quot;ServiceResource&quot;,&quot;AttendanceType&quot;:&quot;Primary&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>newServiceAppointmentFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!serviceAppointmentFields}, LEN({!serviceAppointmentFields}) - 1) + &apos;,&quot;Service_Resources_JSON__c&quot;:&quot;&apos; + {!serviceResources} + &apos;&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>soqlServiceTerritory</name>
        <dataType>String</dataType>
        <expression>&quot;select id, name, Street, City, Country,PostalCode from ServiceTerritory where Name =&apos;&quot; &amp; {!QuickChoice_Territory.value} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Create Reservation 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Reservation 2</label>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>970</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Valid_Resources_no_trainer.validServiceResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ServiceResourceId_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_JSON_No_Trainer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_trainers</name>
        <label>loop trainers</label>
        <locationX>402</locationX>
        <locationY>1754</locationY>
        <collectionReference>Get_Valid_Resources.validServiceResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigne_ServiceResourceId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SR_JSON_String_Subflow_Flow_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>625</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInitialValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Terrirories</name>
        <label>Get Service Terrirories</label>
        <locationX>625</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Territory_Name</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_Group</name>
        <label>Get WorkType Group</label>
        <locationX>625</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Appointment_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_appointment</name>
        <label>update appointment</label>
        <locationX>625</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Copy_2_of_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Resources_JSON__c</field>
            <value>
                <elementReference>Get_SR_JSON_String_Subflow_Flow_1.serviceResourcesValid</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AppointmentTypeScreen</name>
        <label>Appointment Type Screen</label>
        <locationX>405</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>625</locationX>
        <locationY>6590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <fields>
            <name>fdsf</name>
            <fieldText>&lt;p&gt;fdfdsfdsfdsfdsffds&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowTriage</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option</name>
                <value>
                    <elementReference>selectedTriageOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceName</name>
                <value>
                    <elementReference>serviceResourceName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>appointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideAppointmentModePicker</name>
                <value>
                    <elementReference>DoNotDisplayServiceAppointmentModeSelectionOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
                <name>parentRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTriageOption</assignToReference>
                <name>option</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceName</assignToReference>
                <name>serviceResourceName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentMode</assignToReference>
                <name>appointmentMode</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>141</locationX>
        <locationY>4250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <fields>
            <name>flowCandidate</name>
            <extensionName>runtime_appointmentbooking:flowCandidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedServiceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>selectedServiceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>skillsStartDate</assignToReference>
                <name>skillsStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Resource</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>625</locationX>
        <locationY>5906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>AppointmentCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentToken</name>
                <value>
                    <elementReference>AppointmentToken</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.createdServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeCreateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.deletedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeDeleteCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.updatedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeUpdateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefix1</name>
                <value>
                    <elementReference>InvitationURLPrefixSite1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefix2</name>
                <value>
                    <elementReference>InvitationURLPrefixSite2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefixGuest</name>
                <value>
                    <elementReference>InvitationURLPrefixGuest</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Review_Screen</name>
        <label>Copy 1 of Copy 1 of Review Screen</label>
        <locationX>280</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>sasa</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeLimit</name>
                <value>
                    <elementReference>AttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <stringValue>People</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>Get_SR_JSON_String_Subflow_Flow_1.serviceResourcesValid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupAppointmentAccessType</name>
                <value>
                    <elementReference>GroupAppointmentAccessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>ServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Time_Slot_Screen</name>
        <label>Copy 1 of Copy 1 of Time Slot Screen</label>
        <locationX>970</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Review_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_dsad</name>
            <fieldText>&lt;p&gt;{!Get_SR_JSON_String_Subflow_Flow_1.serviceResourcesValid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>fetchTerritory.firstRetrievedRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>Regular</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>Get_JSON_No_Trainer.serviceResourcesValid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MaximumAttendeeLimit</assignToReference>
                <name>maxAttendeeLimit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Review_Screen</name>
        <label>Copy 1 of Review Screen</label>
        <locationX>970</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeLimit</name>
                <value>
                    <elementReference>AttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <stringValue>People</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>Get_JSON_No_Trainer.serviceResourcesValid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupAppointmentAccessType</name>
                <value>
                    <elementReference>GroupAppointmentAccessType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Time_Slot_Screen</name>
        <label>Copy 1 of Time Slot Screen</label>
        <locationX>280</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Fields</targetReference>
        </connector>
        <fields>
            <name>dsad</name>
            <fieldText>&lt;p&gt;{!Get_SR_JSON_String_Subflow_Flow_1.serviceResourcesValid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>fetchTerritory.firstRetrievedRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>Regular</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>Get_SR_JSON_String_Subflow_Flow_1.serviceResourcesValid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MaximumAttendeeLimit</assignToReference>
                <name>maxAttendeeLimit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Topic_Screen</name>
        <label>Copy 1 of Topic Screen</label>
        <locationX>625</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_WorkType_Group</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByWorkTypeGroups</name>
                <value>
                    <elementReference>FilterByWorkTypeGroupIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>Regular</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Confirmation_Screen</name>
        <label>Copy 2 of Confirmation Screen</label>
        <locationX>625</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Payment_Logic</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>AppointmentCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentToken</name>
                <value>
                    <elementReference>AppointmentToken</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.createdServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeCreateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.deletedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeDeleteCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.updatedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeUpdateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefix1</name>
                <value>
                    <elementReference>InvitationURLPrefixSite1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefix2</name>
                <value>
                    <elementReference>InvitationURLPrefixSite2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURLPrefixGuest</name>
                <value>
                    <elementReference>InvitationURLPrefixGuest</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>dsafasf</name>
        <label>dsafasf</label>
        <locationX>970</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Time_Slot_Screen</targetReference>
        </connector>
        <fields>
            <name>dsaasa</name>
            <fieldText>&lt;p&gt;{!Get_JSON_No_Trainer.serviceResources}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LocationScreen</name>
        <label>Location Screen</label>
        <locationX>405</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>selectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>locationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>locationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>locationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <elementReference>distanceUnit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideStOh</name>
                <value>
                    <elementReference>hideStOh</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoTrainer_Screen</name>
        <label>NoTrainer_Screen</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Time_Slot_Screen</targetReference>
        </connector>
        <fields>
            <name>NoTrainer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Get_Valid_Resources.reason}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>625</locationX>
        <locationY>5282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeLimit</name>
                <value>
                    <elementReference>AttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <stringValue>0Hnbm0000001X3ZCAU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupAppointmentAccessType</name>
                <value>
                    <elementReference>GroupAppointmentAccessType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sasa</name>
        <label>sasa</label>
        <locationX>280</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!newServiceAppointmentFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select group appointment details, such as attendee limit and group appointment access type.</description>
        <name>ScreenSelectGroupServiceAppointmentDetails</name>
        <label>Select Group Service Appointment Details</label>
        <locationX>493</locationX>
        <locationY>4982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>SelectGroupServiceAppointmentDetailsHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select Group Service Appointment Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenSelectGroupServiceAppointmentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSelectGroupServiceAppointmentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AttendeeLimit</name>
                    <dataType>Number</dataType>
                    <fieldText>Attendee Limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter a value from 1 through  {!MaximumAttendeeLimit}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a value from 1 through  {!MaximumAttendeeLimit}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AttendeeLimit} &gt;= 1 &amp;&amp; {!AttendeeLimit} &lt;= {!MaximumAttendeeLimit}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSelectGroupServiceAppointmentDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupAppointmentAccessType</name>
                    <choiceReferences>ChoiceUsersAddedAsAttendeesAndExperienceSiteUsers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Group Appointment Access Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CheckboxAddAttendees</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Service Appointment Attendees to Service Appointment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Territory_Screen</name>
        <label>Select Territory</label>
        <locationX>625</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Valid_Topics</targetReference>
        </connector>
        <fields>
            <name>Select_Territory</name>
            <fieldText>Select Territory</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Territory_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuickChoice_Territory</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSameHeight</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>staticChoicesString</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Pilot Branch&quot;,&quot;value&quot;:&quot;Pilot Branch&quot;},{&quot;label&quot;:&quot;Pittsburgh Branch&quot;,&quot;value&quot;:&quot;Pittsburgh Branch&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>Extract_Territory_Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>Extract_Territory_Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Territory_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fetchTerritory</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ServiceTerritory</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>soqlServiceTerritory</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AddressTerritory</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>fetchTerritory.firstRetrievedRecord.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>fetchTerritory.firstRetrievedRecord.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>fetchTerritory.firstRetrievedRecord.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>fetchTerritory.firstRetrievedRecord.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fetchTerritory.firstRetrievedRecord.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Trainer_Screen</name>
        <label>Select Trainer</label>
        <locationX>618</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ServiceResourceId_when_more</targetReference>
        </connector>
        <fields>
            <name>Select_Trainer</name>
            <fieldText>Select Trainer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Trainer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>table_resources</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ServiceResource</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Trainer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>validserviceResources</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-59d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Trainer_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>405</locationX>
        <locationY>4550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Primary</targetReference>
        </connector>
        <fields>
            <name>dsa</name>
            <fieldText>&lt;p&gt;Start or enbd:{!ServiceAppointment.SchedStartTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MaximumAttendeeLimit</assignToReference>
                <name>maxAttendeeLimit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>405</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByWorkTypeGroups</name>
                <value>
                    <elementReference>FilterByWorkTypeGroupIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dasd</name>
            <fieldText>&lt;p&gt;dsadasd&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Flow</sourceTemplate>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and order for the stage where the flow user enters the group appointment details. This label is displayed on the progress bar when the user runs this flow.</description>
        <name>SelectGroupAppointmentDetailsStage</name>
        <isActive>true</isActive>
        <label>Select Group Appointment Details</label>
        <stageOrder>55</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>499</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallIdnetifyCustomer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a sub-flow that adds, modifies, or deletes service appointment attendee records for a group service appointment.</description>
        <name>AddOrModifyAttendees</name>
        <label>Add or Modify Attendees</label>
        <locationX>493</locationX>
        <locationY>5606</locationY>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <flowName>runtime_appointmentbooking__AddAttnd</flowName>
        <inputAssignments>
            <name>emailTemplate</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowExecutionMode</name>
            <value>
                <elementReference>CompositeMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unenrollUrlPrefix</name>
            <value>
                <elementReference>UnenrollUrlPrefix</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CallIdnetifyCustomer</name>
        <label>Create/Identify Customer Flow 1</label>
        <locationX>625</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <flowName>Create_Identify_Customer</flowName>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_JSON_No_Trainer</name>
        <label>Get JSON No Trainer</label>
        <locationX>970</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>dsafasf</targetReference>
        </connector>
        <flowName>Get_SR_JSON_String_Subflow</flowName>
        <inputAssignments>
            <name>listIds_required</name>
            <value>
                <elementReference>listIdsSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>primaryResource</name>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SR_JSON_String_Subflow_Flow_1</name>
        <label>Get SR JSON String Subflow Flow 1</label>
        <locationX>510</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Copy_1_of_Time_Slot_Screen</targetReference>
        </connector>
        <flowName>Get_SR_JSON_String_Subflow</flowName>
        <inputAssignments>
            <name>listIds_required</name>
            <value>
                <elementReference>Get_Valid_Resources.assetResource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>primaryResource</name>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>fetchTerritory.firstRetrievedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Valid_Resources</name>
        <label>Get Valid Resources</label>
        <locationX>280</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Any_Trainer</targetReference>
        </connector>
        <flowName>Get_valid_Resources</flowName>
        <inputAssignments>
            <name>personalTrainerNeeded</name>
            <value>
                <elementReference>Get_WorkType_Group.Personal_Trainer_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workTypeGroupId</name>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Valid_Resources_no_trainer</name>
        <label>Get Valid Resources</label>
        <locationX>970</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <flowName>Get_valid_Resources</flowName>
        <inputAssignments>
            <name>personalTrainerNeeded</name>
            <value>
                <elementReference>Get_WorkType_Group.Personal_Trainer_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workTypeGroupId</name>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Valid_Topics</name>
        <label>Get Valid Topics</label>
        <locationX>625</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Topic_Screen</targetReference>
        </connector>
        <flowName>Get_Valid_Inputs_Topic_Members</flowName>
        <inputAssignments>
            <name>serviceTerritoryId</name>
            <value>
                <stringValue>{!fetchTerritory.firstRetrievedRecord.Id}</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FilterByWorkTypeGroupIds</assignToReference>
            <name>output_WorkTypeGroupIds</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Payment_Logic</name>
        <label>Run Payment Logic</label>
        <locationX>625</locationX>
        <locationY>3170</locationY>
        <connector>
            <targetReference>Service_Resource_Selection_Screen_Decision</targetReference>
        </connector>
        <flowName>SFSCH_Payment_Subflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a value that indicates the appointment category of the service appointment.</description>
        <name>AppointmentCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the appointment mode selected for the service appointment.</description>
        <name>appointmentMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an encrypted token that’s used to identify the service appointment that the flow user created.</description>
        <name>AppointmentToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counOfTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countTrainers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable to hold values of distance units</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>km</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the developer name of the email template that’s sent to the service appointment attendee for enrollment or unenrollment.</description>
        <name>EmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterByWorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether to display or hide the appointment mode selection options.</description>
        <name>HideAppointmentModeSelectionOptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Specify whether to display ST OH or not</description>
        <name>hideStOh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the group appointment enrollment URL for unauthenticated users.</description>
        <name>InvitationURLPrefixGuest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the group appointment enrollment URL for the first experience site.</description>
        <name>InvitationURLPrefixSite1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the group appointment enrollment URL for the second experience site.</description>
        <name>InvitationURLPrefixSite2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listIdsSR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the maximum number of attendees who can be added to a group appointment.</description>
        <name>MaximumAttendeeLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Hnbm0000001X3ZCAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>skillsStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the URL that opens the page that allows the flow user to unenroll from the service appointment.</description>
        <name>UnenrollUrlPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validserviceResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
