force-app/main/default/flows/Create_Identify_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Generate_Account_Login_Token</name>
        <label>Generate Account Login Token</label>
        <locationX>726</locationX>
        <locationY>2474</locationY>
        <actionName>INV_GenerateRegistrationCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>INV_GenerateRegistrationCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Landing</name>
        <label>Navigate To Landing</label>
        <locationX>726</locationX>
        <locationY>2690</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>redirectURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Email_to_Screen</name>
        <label>Assign Email to Screen</label>
        <locationX>941</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Email_res</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralRecord.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referralFromPerson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralRecord.From_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referralFromTrainer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralRecord.From_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Login_Register_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordId</name>
        <label>Assign RecordId</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Autologin_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Redirect_To_Login</name>
        <label>Redirect To Login</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Buttons.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_res</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Registration.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Login_Register_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Redirect_back</name>
        <label>Set Redirect back</label>
        <locationX>1590</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>incorrectIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buttons.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Login_Register_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutput</name>
        <label>SetOutput1</label>
        <locationX>1062</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Register_New_Customer.createdAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Website_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutput2</name>
        <label>SetOutput2</label>
        <locationX>1370</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Handle_Existing_Customer_Login.contactDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Website_Settings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Token_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Login_Token</name>
        <label>Account Login Token?</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Autologin_Account.Login_Token__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>token</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Website_Settings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Exists_Login</name>
        <label>Already Exists?</label>
        <locationX>1590</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_Redirect_back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Good_Identifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Handle_Existing_Customer_Login.foundBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>password</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Handle_Existing_Customer_Login.contactDetails.Unique_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOutput2</targetReference>
            </connector>
            <label>Yes, Good Identifier</label>
        </rules>
        <rules>
            <name>Already_Exists_Login_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Handle_Existing_Customer_Login.foundBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Redirect_back</targetReference>
            </connector>
            <label>Yes, Bad Identifier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Exists_Registration</name>
        <label>Already Exists?</label>
        <locationX>864</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Register_New_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Already_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Handle_New_Registration.foundBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_To_Login</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Referral_Record</name>
        <label>Exist Referral Record?</label>
        <locationX>1073</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Login_Register_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_to_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Redirect</name>
        <label>From Redirect?</label>
        <locationX>726</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Live_Mode_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>token</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>redir</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Autologin_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Code_Exists</name>
        <label>Referral Code Exists</label>
        <locationX>1227</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Login_Register_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>refferalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Exist</name>
        <label>Referral Exist?</label>
        <locationX>1062</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Send_Welcome_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Referral_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection_New_Existing</name>
        <label>Selection New/Existing</label>
        <locationX>1227</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Handle_Existing_Customer_Login</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Existing (Login)</defaultConnectorLabel>
        <rules>
            <name>Selected_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_New_Registration</targetReference>
            </connector>
            <label>Selected New (Registration)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>sourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>greenBox</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;div class=&quot;slds-scoped-notification slds-theme_success&quot; role=&quot;status&quot;&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>redBox</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;div class=&quot;slds-scoped-notification slds-theme_error&quot; role=&quot;status&quot;&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>redirectURL</name>
        <dataType>String</dataType>
        <expression>{!Get_Website_Settings.After_Payment_URL__c}+&quot;?redir=yes&amp;token=&quot;+{!Generate_Account_Login_Token.randomNumber}</expression>
    </formulas>
    <interviewLabel>Create/Identify Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Create/Identify Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Autologin_Account</name>
        <label>Get Autologin Account</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordId</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>One_Time_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>token</elementReference>
            </value>
        </filters>
        <filters>
            <field>One_Time_Token_Validity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Login_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>token</elementReference>
            </value>
        </filters>
        <filters>
            <field>Login_Token_Validity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Login_Token__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral</name>
        <label>Get Referral</label>
        <locationX>1073</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Referral_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>refferalCode</elementReference>
            </value>
        </filters>
        <object>Referral__c</object>
        <outputReference>referralRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>From_Resource__c</queriedFields>
        <queriedFields>From_Account__c</queriedFields>
        <queriedFields>Referral_Code__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Settings</name>
        <label>Get Website Settings</label>
        <locationX>726</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Account_Login_Token</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Website_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Token_Data</name>
        <label>Clear Token Data</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Account_Login_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>One_Time_Token_Validity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Token__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>726</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Navigate_To_Landing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Login_Token_Validity__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login_Token__c</field>
            <value>
                <elementReference>Generate_Account_Login_Token.randomNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Code_Confirmation_Screen</name>
        <label>Code Confirmation</label>
        <locationX>1062</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť</backButtonLabel>
        <connector>
            <targetReference>SetOutput</targetReference>
        </connector>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CodeConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Prosím zadajte kód, ktorý prišiel na Vašu emailovú adresu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Code_Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Code_Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Code_Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>codeConfirmationInput</name>
                    <dataType>String</dataType>
                    <fieldText>Identifikátor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid code&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!codeConfirmationInput} == {!Register_New_Customer.createdAccount.Unique_Code__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Code_Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Pokračovať</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Login_Register_Form</name>
        <label>Login/Register Form</label>
        <locationX>1227</locationX>
        <locationY>950</locationY>
        <actions>
            <name>getDetails</name>
            <actionName>Get_Contact_Details_Subflow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>Action</name>
                <value>
                    <stringValue>Send Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Email_Login.value</elementReference>
                </value>
            </inputParameters>
            <label>Get Contact Details Subflow</label>
            <nameSegment>Get_Contact_Details_Subflow</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selection_New_Existing</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>css1</name>
            <extensionName>SF_JY:styleOverwrite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <elementReference>css</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notif_Customer_Exists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!redBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Užívateľ s týmto emailom existuje, prosím prihláste sa&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Handle_New_Registration.foundBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notif_Customer_notFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!redBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Užívateľ neexistuje, alebo nesprávny identifikátor&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Handle_Existing_Customer_Login.foundBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>incorrectIdentifier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Login_Register_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Login_Register_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>isCompany</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Firma?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Buttons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Customer</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Nový Zákazník&quot;,&quot;value&quot;:&quot;New Customer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Existujúci Zákazník&quot;,&quot;value&quot;:&quot;Existing Customer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>Existing Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Login_Register_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Login_Register_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Meno</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Priezvisko</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Ulica</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Mesto</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>PSČ</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Country</name>
                    <dataType>String</dataType>
                    <fieldText>Štát</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ico</name>
                    <dataType>String</dataType>
                    <fieldText>IČO</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>icdph</name>
                    <dataType>String</dataType>
                    <fieldText>IČ DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dic</name>
                    <dataType>String</dataType>
                    <fieldText>DIČ</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCompany</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email_Registration</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_res</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefón</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Source</name>
                    <choiceReferences>sourcePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Odkiaľ ste sa o nás dozvedeli?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>regText</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Registráciou súhlasíte s &lt;/span&gt;&lt;a href=&quot;https://www.evoxise.sk/s/ochrana-osobnych-udajov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;obchodnými podmienkami&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buttons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Login_Register_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Login_Register_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Login</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_res</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>password</name>
                    <fieldText>Identifikátor</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Login_Register_Form_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionForgotPassword</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Zabudnutý Identifikátor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>getDetails.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>getDetails.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>getDetails.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>getDetails.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>forgotIdentificatorText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Na email sme ti poslali tvoj Identifikátor&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getDetails.IsSuccess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buttons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Existing Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Pokračovať</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>ActionForgotPassword</eventSource>
            <handlers>
                <screenActionName>getDetails</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>726</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>autoNav</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:0:1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_Redirect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Existing_Customer_Login</name>
        <label>Handle Existing Customer Login</label>
        <locationX>1590</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Already_Exists_Login</targetReference>
        </connector>
        <flowName>Get_Contact_Details_Subflow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Check New Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>Email_Login.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>uniqueCode</name>
            <value>
                <elementReference>password</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Handle_New_Registration</name>
        <label>Handle New Registration</label>
        <locationX>864</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Already_Exists_Registration</targetReference>
        </connector>
        <flowName>Get_Contact_Details_Subflow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Check New Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>Email_Registration.value</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Live_Mode_Check</name>
        <label>Live Mode Check</label>
        <locationX>1227</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Referral_Code_Exists</targetReference>
        </connector>
        <flowName>SFSCH_Live_Mode_Check</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Register_New_Customer</name>
        <label>Register New Customer</label>
        <locationX>1062</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Referral_Exist</targetReference>
        </connector>
        <flowName>Register_new_Customer</flowName>
        <inputAssignments>
            <name>billingCity</name>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>billingCountry</name>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>billingPostal</name>
            <value>
                <elementReference>Billing_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>billingStreet</name>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dic</name>
            <value>
                <elementReference>dic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>Email_Registration.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>icDph</name>
            <value>
                <elementReference>icdph</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ico</name>
            <value>
                <elementReference>ico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isBusinessAccount</name>
            <value>
                <elementReference>isCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referralFromPerson</name>
            <value>
                <elementReference>referralFromPerson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referralFromTrainer</name>
            <value>
                <elementReference>referralFromTrainer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source</name>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>1062</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Code_Confirmation_Screen</targetReference>
        </connector>
        <flowName>Send_Email_by_Action</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>Register_New_Customer.createdAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailAction</name>
            <value>
                <stringValue>welcome</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFSCH_Referral_Flow</name>
        <label>SFSCH - Referral Flow</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <flowName>SFSCH_Referral</flowName>
        <inputAssignments>
            <name>actionType</name>
            <value>
                <stringValue>New User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referralAccountId</name>
            <value>
                <elementReference>Register_New_Customer.createdAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referralRecord</name>
            <value>
                <elementReference>referralRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>css</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;link href=&apos;https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&apos; rel=&apos;stylesheet&apos;&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;.body {&lt;/p&gt;&lt;p&gt;font-family: &apos;Josefin Sans&apos;, arial, sans-serif;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: monospace; color: var(--webkit-css-property-color,var(--sys-color-token-property-special));&quot;&gt;--lwc-fontFamily&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: monospace; color: rgb(31, 31, 31);&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&apos;Josefin Sans&apos;, arial, sans-serif;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email_res</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incorrectIdentifier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redir</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>no</stringValue>
        </value>
    </variables>
    <variables>
        <name>referralEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralFromPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralFromTrainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>refferalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
