force-app/main/default/flows/Get_Valid_Inputs_Topic_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_WorkType_Ids</name>
        <label>Get WorkType Ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_WorkType_Group_Members</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ServiceTerritoryWorkType</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dedupe</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>WorkTypeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Service_Territory_WorkTypes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>output_WorkTypeGroupIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filterWTGUpdated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_WTG_ID</name>
        <label>assign WTG ID</label>
        <locationX>440</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>filterWTG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WTG_Members.WorkTypeGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filterWTG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WTG_Members.WorkTypeGroup.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WTG_Members.WorkTypeGroup.Short_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WTG_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_WorktypeGroups</name>
        <label>Valid WorktypeGroups</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_WTG_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Free_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligibleForFreeTraining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_WTG_Members.WorkTypeGroup.Is_Free_Training__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eligibleForFreeTraining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_WTG_ID</targetReference>
            </connector>
            <label>Free Training</label>
        </rules>
        <rules>
            <name>Standard_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_WTG_Members.WorkTypeGroup.Is_Free_Training__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_WTG_ID</targetReference>
            </connector>
            <label>Standard Training</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>filterWTGUpdated</name>
        <dataType>String</dataType>
        <expression>LEFT({!filterWTG}, LEN({!filterWTG}) - 1)</expression>
    </formulas>
    <interviewLabel>Get Valid Inputs Topic, Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Valid Inputs Topic, Members</label>
    <loops>
        <name>Loop_WTG_Members</name>
        <label>Loop WTG Members</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_WorkType_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_WorktypeGroups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Territory_WorkTypes</name>
        <label>Get Service Territory WorkTypes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkType_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryWorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_Group_Members</name>
        <label>Get WorkType Group Members</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_WTG_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_WorkType_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Territory_WorkTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eligibleForFreeTraining</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>filterWTG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>output_WorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>workTypeValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
