force-app/main/default/flows/Get_SR_JSON_String_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Left_Parenthis</name>
        <label>Assign Left Parenthis</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_primary_to_ListIds</name>
        <label>Assign primary to ListIds</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>listIds_required</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>primaryResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Variables</name>
        <label>Assign Primary Variables</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>primary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_loop</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_loop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Resource_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_SR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource</name>
        <label>Assign Resource</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Right_Parenthis</name>
        <label>Assign Right Parenthis</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>serviceResourcesValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemovedComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourcesValid</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_SR_Ter_Member</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter SR Ter Member</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_SR_Ter_Member</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Service_Resource_Territory_Assignment</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_SR_Ter_Member.ServiceResourceId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_SR.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Go_to_Primary_Logic</name>
        <label>Go to Primary Logic?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Assign_Right_Parenthis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Go_to_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Primary</targetReference>
            </connector>
            <label>Go to Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>loopFormula</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;UserPhoto&quot;:&quot;&apos;&amp;{!Get_User_Info.MediumPhotoUrl}&amp;&apos;&quot;, &quot;ServiceTerritoryMemberId&quot;:&quot;&apos;&amp;{!loop_Filter.Id}&amp;&apos;&quot;,&quot;IsActive&quot;:true,&quot;ResourceType&quot;:&quot;&apos;&amp;TEXT({!Loop_SR.ResourceType})&amp;&apos;&quot;,&quot;RelatedRecordId&quot;:&quot;&apos;&amp;{!Loop_SR.RelatedRecordId}&amp;&apos;&quot;,&quot;Id&quot;:&quot;&apos;&amp;{!Loop_SR.Id}&amp;&apos;&quot;,&quot;Name&quot;:&quot;&apos;&amp;{!Loop_SR.Name}&amp;&apos;&quot;,&quot;sobjectType&quot;:&quot;ServiceResource&quot;,&quot;AttendanceType&quot;:&quot;&apos;&amp;IF({!primary},&quot;Primary&quot;,&quot;Required&quot;)&amp;&apos;&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>RemovedComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!serviceResources}, LEN({!serviceResources}) - 1)</expression>
    </formulas>
    <interviewLabel>Get SR JSON fomr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get SR JSON String Subflow</label>
    <loops>
        <name>loop_Filter</name>
        <label>loop Filter</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <collectionReference>Filter_SR_Ter_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_SR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SR</name>
        <label>Loop SR</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>list_loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_SR_Ter_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Go_to_Primary_Logic</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource Required</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_primary_to_ListIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>listIds_required</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Primary</name>
        <label>Get Service Resource Primary</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Primary_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>primaryResource</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Territory_Assignment</name>
        <label>Get Service Resource Territory Assignment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Left_Parenthis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>In</operator>
            <value>
                <elementReference>listIds_required</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_SR.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_1_of_Filter_SR_Ter_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>list_loop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>listIds_required</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>primaryResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceResourcesValid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
