force-app/main/default/flows/Get_valid_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Resorurce_Ids</name>
        <label>Extract Resorurce Ids</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Service_Resources</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ServiceResource</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dedupe</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Service_resources</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Service_Resource_Ids</name>
        <label>Get Service Resource Ids</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Service_resources</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ServiceTerritoryMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dedupe</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>ServiceResourceId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Service_Territory_member</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <outputParameters>
            <assignToReference>ServiceResourceIds</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Resource_to_List</name>
        <label>Add Resource to List</label>
        <locationX>1014</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceIdsAfterSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Skill_Filtered.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Skill_Filtered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Resource</name>
        <label>Assign Asset Resource</label>
        <locationX>902</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>assetResource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Skill_Requerements.Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Service_Resource_Skil_Based_on_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_to_List</name>
        <label>Assign List to List</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>validServiceResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Resources_Valid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validAssetResources</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Resources</name>
        <label>Assign No Resources</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NoServiceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Service Resources in Territory</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Resources_After_Skill</name>
        <label>Assign No Resources After Skill</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>NoServiceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Service Resource Skills</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Resource_from_List</name>
        <label>Remove Resource from List</label>
        <locationX>1142</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceIdsAfterSkill</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Resources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Skill_Requerements</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Service_Resource_Skil_Based_on_Requirement</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Service Resource Skil Based on Requirement</label>
        <locationX>1034</locationX>
        <locationY>1730</locationY>
        <assignNextValueToReference>currentItem_Filter_Service_Resource_Skil_Based_on_Requirement</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Skills_per_Service_Resioource</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Service_Resource_Skil_Based_on_Requirement.SkillId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Skill_Requerements.SkillId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Service_Resource_Skil_Based_on_Requirement.SkillLevel</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>Loop_Skill_Requerements.SkillLevel</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Any_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Skills_per_Service_Resioource</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Skills per Service Resioource</label>
        <locationX>750</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Skills_per_Service_Resioource</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Service_Resource_Skill</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Skills_per_Service_Resioource.ServiceResourceId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Resources</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Skill_Requerements</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Records</name>
        <label>Any Records?</label>
        <locationX>1034</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Remove_Resource_from_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Service_Resource_Skil_Based_on_Requirement</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Skill_Filtered</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Service_Resources</name>
        <label>Any Service Resources?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extract_Resorurce_Ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorktypeGroupMember</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Service_Resources_after_Skill</name>
        <label>Any Service Resources after Skill</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Resources_After_Skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Available_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceIdsAfterSkill</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resources_Valid</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Resource_Available</name>
        <label>Asset Resource Available?</label>
        <locationX>1034</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Filter_Service_Resource_Skil_Based_on_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>YES_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Skill_Requerements.Service_Resource__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Resource</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>validResourceTypeBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!personalTrainerNeeded},True,False)</expression>
    </formulas>
    <interviewLabel>Get valid Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get valid Resources</label>
    <loops>
        <name>Loop_Resources</name>
        <label>Loop Resources</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <collectionReference>Extract_Resorurce_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Skills_per_Service_Resioource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Service_Resources_after_Skill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Skill_Filtered</name>
        <label>Loop Skill Filtered</label>
        <locationX>926</locationX>
        <locationY>1946</locationY>
        <collectionReference>Filter_Service_Resource_Skil_Based_on_Requirement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Resource_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Skill_Requerements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Skill_Requerements</name>
        <label>Loop Skill Requerements</label>
        <locationX>750</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_Skill_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Resource_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Resources</name>
        <label>Get Asset Resources</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_List_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>assetResource</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Skill</name>
        <label>Get Service Resource Skill</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Resorurce_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_resources</name>
        <label>Get Service resources</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Resorurce_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPerson__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>validResourceTypeBoolean</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceResourceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resources_Valid</name>
        <label>Get Service Resources</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceResourceIdsAfterSkill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_member</name>
        <label>Get Service Territory member</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Requirements</name>
        <label>Get Skill Requirements</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType</name>
        <label>Get WorkType</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Skill_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorktypeGroupMember.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorktypeGroupMember</name>
        <label>Get WorktypeGroupMember</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Territory_member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetResource</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Service_Resource_Skil_Based_on_Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Skills_per_Service_Resioource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>NoServiceResources</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>personalTrainerNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceAbsence_toRemove</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceIdsAfterSkill</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourcesAfterShft</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validAssetResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>validServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
