force-app/main/default/flows/Interest_Flow_Zaujem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Interest</name>
        <label>Assign Interest</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>fLEad.Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailField.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EVOXISE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meno</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priezvisko</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fLEad.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telef_n</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lead</name>
        <label>Check Lead</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>New_Emaile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_lead</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>New Emaile</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>leadsourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Interest Flow Zaujem {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Interest Flow Zaujem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Register_New_Customer</targetReference>
        </connector>
        <inputReference>fLEad</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailField.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_lead</name>
        <label>get lead</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailField.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Info</targetReference>
        </connector>
        <inputReference>fLEad</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Info</name>
        <label>Interest Exists</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>interestExists</name>
            <fieldText>&lt;p&gt;{!info2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>M_m_z_ujem</name>
        <label>Mám záujem</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_lead</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>textUvod</name>
            <fieldText>&lt;p&gt;{!uvodText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Kontaktn_daje</name>
            <fieldText>Kontaktné údaje</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kontaktn_daje_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Meno</name>
                    <dataType>String</dataType>
                    <fieldText>Meno</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Priezvisko</name>
                    <dataType>String</dataType>
                    <fieldText>Priezvisko</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kontaktn_daje_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>emailField</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Telef_n</name>
                    <dataType>String</dataType>
                    <fieldText>Telefón</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>source</name>
                    <choiceReferences>leadsourcePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Odkial ste sa o nás dozvedeli?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>suhlas</name>
            <dataType>Boolean</dataType>
            <fieldText>Súhlasím so spracovaním mojich osobných údajov</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Toto pole je povinné&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!suhlas}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>M_m_z_ujem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Register_New_Customer</name>
        <label>Register New Customer</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <flowName>Register_new_Customer</flowName>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>emailField.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>firstName</name>
            <value>
                <elementReference>Meno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isBusinessAccount</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lastName</name>
            <value>
                <elementReference>Priezvisko</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>Telef_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source</name>
            <value>
                <elementReference>source</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Info</targetReference>
        </connector>
        <flowName>Send_Email_by_Action</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>Register_New_Customer.createdAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailAction</name>
            <value>
                <stringValue>welcome</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>info2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Skvelé správy :)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Ďakujeme, nebudeš ľutovať.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>uvodText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ahoj :)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Práve si spravil prvý krok k Tvojej lepšej budúcnosti.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Možno si si všimol, že nie sme obyčajné fitko. Našim cieľom sú Tvoje ciele, či chceš schudnúť, dostať sa do formy alebo sa cítiť mladší, ako aj pre profesionálnych športovcov, dostať svoje výkony na iný level za skutočne menej času stráveného cvičením s výsledkami presahujúce bežné fitká.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ARX&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; mašinka - multifunkčný stroj na cvičenie využíva &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Adaptive Resistance Technology&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;, ktorá nastaví záťaž tak, aby si čo najefektívnejšie cvičil. V tomto prípade platí, menej je viac. Stači 1x týždenne a Tvoja transformácia sa začne.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A tým nekončíme. Postupne budeme pridávať ďalšie&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; BIOHACKING&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; mašinky pre ešte lepšie a rýchlejšie výsledky.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Tvojím záujmom dávaš svoj súhlas, že ťa môžeme kontaktovať na marketingové účely.  &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Získaš prvý tréning zadarmo&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Získaš informácie z prvej ruky&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Budeš mať prístup na naše limitované akcie ako prvý&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;a veľa iného&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ešte raz, blahoželáme ti pre Tvoje rozhodnutie zmeniť svoj život raz a navždy.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ďakujeme :)&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>fLEad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
