force-app/main/default/flows/Register_new_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Identifier</name>
        <label>Generate Identifier</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>INV_GenerateRegistrationCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>INV_GenerateRegistrationCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Person_Values</name>
        <label>Add Person Values</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>createdAccount.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Values</name>
        <label>Assign Business Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>createdAccount.BillingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingPostal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.DIC_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.IC_DPH_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>icDph</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Common Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>createdAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Unique_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Identifier.randomNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Business_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBusinessAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Referral_Trainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralFromTrainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAccount.Referral_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralFromPerson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Account</name>
        <label>Business Account?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_Person_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Business_Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBusinessAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>IF({!isBusinessAccount} = TRUE, {!firstName}, {!firstName}&amp;&apos; &apos;&amp;{!lastName})</expression>
    </formulas>
    <interviewLabel>Register new Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Register new Customer Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <inputReference>createdAccount</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Identifier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>billingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>dic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>icDph</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBusinessAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralFromPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralFromTrainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
