force-app/main/default/flows/Send_Email_by_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <actionName>SendEmailWithAttachment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>email_HTMLBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_OrgWide_Address_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>newSubjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>emailToSendCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailWithAttachment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Email_Address</name>
        <label>Set Email Address</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>emailToSendCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>account.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Action</name>
        <label>Email Action</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Unknown Action</defaultConnectorLabel>
        <rules>
            <name>MISSING_EMAIL_ADDRESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>MISSING EMAIL ADDRESS</label>
        </rules>
        <rules>
            <name>welcomeActionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>welcome</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Welcome_Email</targetReference>
            </connector>
            <label>welcome</label>
        </rules>
        <rules>
            <name>forgottenIdentifierDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>forgottenIdentifier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Forgotter_Identifier_Email</targetReference>
            </connector>
            <label>forgottenIdentifier</label>
        </rules>
    </decisions>
    <description>Sends type of email based on input var &quot;emailAction&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>email_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!emailTemplate.HtmlValue}, &quot;{greeting}&quot;, IF({!account.Business_Account__c},&quot;Vážený zákazník&quot;,&quot;Dobrý deň &quot;+{!account.Name})), &quot;{custId}&quot;, {!account.Unique_Code__c})</expression>
    </formulas>
    <formulas>
        <name>newSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!emailTemplate.Subject}</expression>
    </formulas>
    <interviewLabel>Send Email by Action {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Email by Action Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Forgotter_Identifier_Email</name>
        <label>Get Forgotten Identifier Email</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrgWide_Address_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Forgot_Identificator</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>emailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Body</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWide_Address_Id</name>
        <label>Get OrgWide Address Id</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Address</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Welcome_Email</name>
        <label>Get Welcome Email</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrgWide_Address_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>New_Registration_Welcome_Email</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>emailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Body</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>welcome, forgottenIdentifier</description>
        <name>emailAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>emailToSendCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
