force-app/main/default/flows/SFSCH_Create_Credit_Usage_from_Appointment_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_String_LIst</name>
        <label>Get String LIst</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>INV_GetStringCollectionFromString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Appointments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>commaSeparatedString</name>
            <value>
                <elementReference>AppointmentIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>INV_GetStringCollectionFromString</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_to_Variable</name>
        <label>Assign to Variable</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>fCreditUsage.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Appointments.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Consumed_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Appointments.Spent_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Consumption_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Website_Settings__c.Training_Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Appointments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fCreditUsage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Appointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Spent_above_0</name>
        <label>Spent above 0?</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Loop_Appointments_For_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Appointments_For_Notifications.Spent_Credit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Consumption_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSCH - Create Credit Usage from Appointment subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Create Credit Usage from Appointment subflow</label>
    <loops>
        <name>loop_Appointments</name>
        <label>loop Appointments</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Usage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Appointments_For_Notifications</name>
        <label>Loop Appointments For Notifications</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Spent_above_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Appointmnets_to_Paid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Usage</name>
        <label>Create Credit Usage</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Loop_Appointments_For_Notifications</targetReference>
        </connector>
        <inputReference>creditUsageList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appointments</name>
        <label>Get Appointments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_String_LIst.listStrings</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointmnets_to_Paid</name>
        <label>Update Appointmnets to Paid</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_String_LIst.listStrings</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_String_LIst</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Consumption_Notification</name>
        <label>Send Consumption Notification</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Loop_Appointments_For_Notifications</targetReference>
        </connector>
        <flowName>SFSCH_Send_Email_Notification</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Consumption</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>Loop_Appointments_For_Notifications</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AppointmentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditUsageList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
    <variables>
        <name>fCreditUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
</Flow>
