force-app/main/default/flows/SFSCH_Post_Payment_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <actionName>GetRevolutOrder.Get Revolut Order</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Payment_Status_Stripe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>order_id</name>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRevolutOrder.Get Revolut Order</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Get_Payment_Details</name>
        <label>Get Payment Details</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>revolutPaymentDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Details.2XX.payments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Details.2XX.metadata.paymentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payment_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OrdetId_Populated</name>
        <label>OrdetId Populated?</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Id_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Payment Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Status_Stripe</name>
        <label>Payment Status Stripe</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDER_PAYMENT_FAILED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_to_Failed</targetReference>
            </connector>
            <label>Status Failed</label>
        </rules>
        <rules>
            <name>Status_Succeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDER_COMPLETED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Details</targetReference>
            </connector>
            <label>Status Succeded</label>
        </rules>
        <rules>
            <name>Order_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDER_CANCELLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_to_Cancelled</targetReference>
            </connector>
            <label>Order Cancelled</label>
        </rules>
        <rules>
            <name>Order_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDER_PAYMENT_DECLINED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_to_Declined</targetReference>
            </connector>
            <label>Order Declined</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>feeAmount</name>
        <dataType>Currency</dataType>
        <expression>({!Loop_Payment_Details.amount}-{!Loop_Payment_Details.settledx5famount})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lenAppointmentFormula</name>
        <dataType>Number</dataType>
        <expression>Len({!Get_Order_Details.2XX.metadata.appointmentIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>netAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Payment_Details.settledx5famount}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SFSCH - Post Payment Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Post Payment Processes</label>
    <loops>
        <name>Loop_Payment_Details</name>
        <label>Loop Payment Details</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>revolutPaymentDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Payment_to_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Receipt_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_to_Cancelled</name>
        <label>Update Payment to Cancelled</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.2XX.metadata.paymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_to_Declined</name>
        <label>Update Payment to Declined</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.2XX.metadata.paymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_to_Failed</name>
        <label>Update Payment to Failed</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.2XX.metadata.paymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_to_Paid</name>
        <label>Update Payment to Paid</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_4_Digits__c</field>
            <value>
                <elementReference>Loop_Payment_Details.paymentx5fmethod.cardx5flastx5ffour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Amount__c</field>
            <value>
                <elementReference>netAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Revolut</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Fee__c</field>
            <value>
                <elementReference>feeAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OrdetId_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Receipt_URL</name>
        <label>Send Receipt URL</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <flowName>SFSCH_Send_Receipt_to_Customer_subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Payment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lenApp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>revolutPaymentDetails</name>
        <apexClass>ExternalService__GetRevolutOrder_Getx20Revolutx20Order_OUT_2XX_payments</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
