force-app/main/default/flows/SFSCH_Trainer_Landing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>customer_Care_Assignment</name>
        <label>customer Care Assignment</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>customerCare</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Action_Chosen</name>
        <label>Action Chosen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Appointment Administration</defaultConnectorLabel>
        <rules>
            <name>Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Shift</targetReference>
            </connector>
            <label>Shift</label>
        </rules>
        <rules>
            <name>History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myZone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Zone</targetReference>
            </connector>
            <label>History</label>
        </rules>
        <rules>
            <name>Customer_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>customerCare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>customer_Care_Assignment</targetReference>
            </connector>
            <label>Customer Care</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Administration</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
        <rules>
            <name>Gift_Anonymous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buy_Gift</targetReference>
            </connector>
            <label>Gift Anonymous</label>
        </rules>
        <rules>
            <name>New_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newClient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Create_New_Client_Internal_Flow_1</targetReference>
            </connector>
            <label>New Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redir_to_Client_Care</name>
        <label>Redir to Client Care</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>MenuScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerCare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Redirect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSCH - Trainer Landing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Trainer Landing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MenuScreen</name>
        <label>MenuScreen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Chosen</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>textSection</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Vitaj {!serviceResource.Name} v trénerskej zóne&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>serviceResource.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Naplánovať Smeny&quot;,&quot;value&quot;:&quot;shift&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:shift_pattern_entry&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Moje Tréningy a odmena&quot;,&quot;value&quot;:&quot;myZone&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Správa Rezervácii&quot;,&quot;value&quot;:&quot;app&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:price_book_entries&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Nový Klient/Nájsť Klienta&quot;,&quot;value&quot;:&quot;newClient&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MenuButtons2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Správa Zákazníka&quot;,&quot;value&quot;:&quot;customerCare&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Odporúčanie&quot;,&quot;value&quot;:&quot;Referral&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:engage&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Kupiť Darček ako Neznámy&quot;,&quot;value&quot;:&quot;gift&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:moneybag&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Redir_to_Client_Care</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Gift</name>
        <label>Buy Gift</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <flowName>SFSCH_Buy_Gift_Internal_Anonymous</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>My_Zone</name>
        <label>My Zone</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <flowName>SFSCH_Training_History_Trainer</flowName>
        <inputAssignments>
            <name>serviceResource</name>
            <value>
                <elementReference>serviceResource</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Plan_Shift</name>
        <label>Plan Shift</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <flowName>SFSCH_Trainer_Shift_Planner</flowName>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>serviceResource.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Referral_Administration</name>
        <label>Referral Administration</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <flowName>SFSCH_Referral_Administration</flowName>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>serviceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Reservation</name>
        <label>Reservation</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <flowName>SFSCH_Trainer_Reservation_Administration</flowName>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>serviceResource.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFSCH_Create_New_Client_Internal_Flow_1</name>
        <label>SFSCH - Create New Client Internal Flow 1</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <flowName>SFSCH_Create_New_Client_Internal</flowName>
        <outputAssignments>
            <assignToReference>accountCode</assignToReference>
            <name>accountCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>customerCare</assignToReference>
            <name>redirecttoAccountAdmin</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>successBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot; style=&quot;background-color: green; color: white&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>yellowBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-theme_warning&quot; role=&quot;status&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>accountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
