force-app/main/default/flows/SFSCH_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Referral_Code</name>
        <label>Generate Referral Code</label>
        <locationX>1302</locationX>
        <locationY>566</locationY>
        <actionName>INV_GenerateRegistrationCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Email_String_Empty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>characterLength</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>INV_GenerateRegistrationCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>referralCode</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Send_single_email_with_attachments_Action_1</name>
        <label>Send Email (Send single email with attachments) Action 1</label>
        <locationX>1322</locationX>
        <locationY>2222</locationY>
        <actionName>SendEmailWithAttachment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Referrals</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>email_HTMLBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>emailToSendCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailWithAttachment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1150</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> už je u nás registrovaný.&lt;/p&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Email_to_Error_Message</name>
        <label>Assign First Email to Error Message</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;p&gt;Email </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_From_Account</name>
        <label>Assign From Account</label>
        <locationX>1170</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Referral.From_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_From_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_From_Service_Resource</name>
        <label>Assign From ServiceResource</label>
        <locationX>1434</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Referral.From_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_From_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Email_to_Error_Message</name>
        <label>Assign Second Email to Error Message</label>
        <locationX>1282</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;p&gt;Email </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>1302</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Referral.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_From_Repeater.Email_Repeater.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Referral.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Referral.Referral_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Referral.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_From_Repeater.Email_Repeater.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_From_Repeater.Email_Repeater.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listReferrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>From_where</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assign Email to Collection and Status Update</label>
        <locationX>1322</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>emailToSendCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailToSendCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Referrals.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Send_single_email_with_attachments_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_Emails</name>
        <label>Remove all Emails</label>
        <locationX>1082</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>emailAddresses</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailString</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrals</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_From_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_colon</name>
        <label>Assign colon</label>
        <locationX>1390</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>emailString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>632</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Referral_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Referral</defaultConnectorLabel>
        <rules>
            <name>New_Registered_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registration_Checkbox</targetReference>
            </connector>
            <label>New Registered User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Account_with_Email</name>
        <label>Exist Account with Email</label>
        <locationX>1082</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Create_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_any_Duplicates</name>
        <label>Exist any Duplicates</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Duplicate_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_where</name>
        <label>From where</label>
        <locationX>1302</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Assign_From_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Trainer</defaultConnectorLabel>
        <rules>
            <name>From_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_From_Account</targetReference>
            </connector>
            <label>From Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_String_Empty</name>
        <label>Is Email String Empty?</label>
        <locationX>1302</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Remove_colon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Error_Message_Empty</name>
        <label>Is Error Message Empty?</label>
        <locationX>1150</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_Second_Email_to_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Email_to_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>email_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE({!emailTemplate.HtmlValue}, &quot;{linkUrl}&quot;, {!referralUrl}), &quot;{sender}&quot;, IF(NOT(ISBLANK({!accountId})), {!account.Name},{!serviceResource.Name} ))</expression>
    </formulas>
    <formulas>
        <name>referralUrl</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Setup.Website_Settings__c.Base_Referral_URL__c} + &quot;?&quot; + &quot;referralCode=&quot; + {!Loop_Referrals.Referral_Code__c},&quot;https://&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!accountId})), {!account.Name}, {!serviceResource.Name}) + &quot; ti poslal odporúčanie, aby si vyskúšal unikátny tréning s technológiou ARX.&quot;</expression>
    </formulas>
    <formulas>
        <name>successMessageFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Email s odporúčaním na ARX Tréning bol odoslaný na tieto Emaily &quot; &amp; {!emailString} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SFSCH - Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Referral</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>930</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Existing_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Error_Message_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Referral_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_From_Repeater</name>
        <label>Loop From Repeater</label>
        <locationX>1082</locationX>
        <locationY>458</locationY>
        <collectionReference>Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Referral_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Referrals</name>
        <label>Loop Referrals</label>
        <locationX>1234</locationX>
        <locationY>2006</locationY>
        <collectionReference>referrals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_4</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>1234</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Get_Referral_Email</targetReference>
        </connector>
        <inputReference>referrals</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Duplicate_Records</name>
        <label>Delete Duplicate Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>Get_Duplicate_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Duplicate_Records</name>
        <label>Get Duplicate Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_any_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>referralRecord.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sign_up__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Account</name>
        <label>Get Existing Account</label>
        <locationX>1082</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_Account_with_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>In</operator>
            <value>
                <elementReference>emailAddresses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>1234</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Referrals</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Email</name>
        <label>Get Referral Email</label>
        <locationX>1234</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Referral_Email</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>emailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Body</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration_Checkbox</name>
        <label>Update Registration Checkbox</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Duplicate_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>referralRecord.Referral_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>referralAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sign_up__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Customer Registered</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <screens>
        <name>Referral_Screen</name>
        <label>Referral Screen</label>
        <locationX>1082</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť do menu</backButtonLabel>
        <connector>
            <targetReference>Remove_all_Emails</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Odporúčanie&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Do poľa nižsie zadaj email, komu chceš poslať odporúčanie na tréning.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!errorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Email_Repeater</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>email</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>listReferrals</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Odoslať Odporúčanie</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>506</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicateEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>emailToSendCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listReferrals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Referral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>referralAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>referrals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successMessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>successMessageFormula</elementReference>
        </value>
    </variables>
</Flow>
