force-app/main/default/flows/SFSCH_Payment_Item_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Credit_Price_Range__r.Price_per_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price_Without_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPricewithoutVATCredit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitPriceVATCredit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.VAT_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TotalAmountWithoutVAT2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalWoVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TotalAmountVAT2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmountVAT</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_Product</name>
        <label>Assign Values</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price_Without_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitPriceWoVATProd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitPriceVATProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.VAT_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TotalAmountWithoutVAT2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalAmountWoVATPRODUCT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TotalAmountVAT2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalAmountVATPROD</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Credit_Usage_Based_Or_Product</name>
        <label>Credit Usage Based Or Product?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product</defaultConnectorLabel>
        <rules>
            <name>Credit_Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Price_Range__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values</targetReference>
            </connector>
            <label>Credit Usage</label>
        </rules>
        <rules>
            <name>Free_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Free_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Free Training</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalAmountVAT</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Credit_Price_Range__r.Price_per_Credit__c} * {!$Record.Quantity__c} - {!totalWoVAT}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalAmountVATPROD</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Product__r.Unit_Price__c}* {!$Record.Quantity__c} - {!totalAmountWoVATPRODUCT}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalAmountWoVATPRODUCT</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Sum_To_Amount__c}, 
   IF({!$Record.Payment__r.Calculate_with_VAT__c}, 
      {!$Record.Quantity__c} * {!unitPriceWoVATProd} /(1 + {!$Record.VAT_Number__c} / 100), 
      {!$Record.Quantity__c} * {!$Record.Product__r.Unit_Price__c}
   ), 
   0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalWoVAT</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Sum_To_Amount__c}, 
   IF({!$Record.Payment__r.Calculate_with_VAT__c}, 
      {!$Record.Quantity__c} * {!UnitPricewithoutVATCredit}/ (1 + {!$Record.VAT_Number__c} / 100), 
      {!$Record.Quantity__c} * {!$Record.Credit_Price_Range__r.Price_per_Credit__c}
   ), 
   0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>unitPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Credit_to_Consume__c}=0,{!$Record.Product__r.Unit_Price__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>unitPriceVATCredit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Credit_Price_Range__r.Price_per_Credit__c} - {!UnitPricewithoutVATCredit}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>unitPriceVATProduct</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Product__r.Unit_Price__c} - {!unitPriceWoVATProd}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnitPricewithoutVATCredit</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Payment__r.Calculate_with_VAT__c},{!$Record.Credit_Price_Range__r.Price_per_Credit__c}/(1+{!$Record.Product__r.VAT_Number__c}/100),{!$Record.Credit_Price_Range__r.Price_per_Credit__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>unitPriceWoVATProd</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Payment__r.Calculate_with_VAT__c},{!$Record.Product__r.Unit_Price__c}/(1 + {!$Record.Product__r.VAT_Number__c}/100),{!$Record.Product__r.Unit_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SFSCH - Payment Item Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Payment Item Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Credit_Usage_Based_Or_Product</targetReference>
        </connector>
        <object>Payment_Items__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
