force-app/main/default/flows/SFSCH_Internal_Landing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1309</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>wrongCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RecordId</name>
        <label>assign RecordId</label>
        <locationX>1045</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message</name>
        <label>Message</label>
        <locationX>50</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>showMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zákazník je Check-in pre tréning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message2</name>
        <label>Message</label>
        <locationX>842</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>showMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rezervácia uspešná</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Null</name>
        <label>Message Null</label>
        <locationX>1106</locationX>
        <locationY>1940</locationY>
        <assignmentItems>
            <assignToReference>showMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Follow_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>null_Value</name>
        <label>null Value</label>
        <locationX>1177</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>moveToCustomerCare</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_Assignment</name>
        <label>Service Appointment Assignment</label>
        <locationX>50</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>fAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Today_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fAppointment.Customer_Presented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>1375</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Trainer_Landing_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trainer</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonCustomerAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>customerCare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>null_Value</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_Action</name>
        <label>Follow Action</label>
        <locationX>1106</locationX>
        <locationY>2048</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonPresent.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CheckIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Check-In</label>
        </rules>
        <rules>
            <name>Buy_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productBuy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buy_Products_subflow</targetReference>
            </connector>
            <label>Buy Products</label>
        </rules>
        <rules>
            <name>Claim_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>claimGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Claim_Gift_Card</targetReference>
            </connector>
            <label>Claim Gift</label>
        </rules>
        <rules>
            <name>Create_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createReservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reservation_Internal</targetReference>
            </connector>
            <label>Create Reservation</label>
        </rules>
        <rules>
            <name>My_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myPayments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_PaymentsInternal</targetReference>
            </connector>
            <label>My Payments</label>
        </rules>
        <rules>
            <name>My_Reservations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myReservations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Reservation</targetReference>
            </connector>
            <label>My Reservations</label>
        </rules>
        <rules>
            <name>Trainer_Zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>trainerZone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Trainer_Landing_Flow</targetReference>
            </connector>
            <label>Trainer Zone</label>
        </rules>
        <rules>
            <name>Credit_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>menuButton3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditBack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Back_Screen</targetReference>
            </connector>
            <label>Credit Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>1177</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RecordId</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordId_Known</name>
        <label>RecordId Known?</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Resource_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Refresh</targetReference>
            </connector>
            <label>Known</label>
        </rules>
        <rules>
            <name>move_to_Customer_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveToCustomerCare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>null_Value</targetReference>
            </connector>
            <label>move to Customer Care</label>
        </rules>
    </decisions>
    <decisions>
        <name>Token_Valid</name>
        <label>Token Valid?</label>
        <locationX>1606</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ScreenNoAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>token</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Service_Resource_Info.Token__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Resource_Info.Valid_Date_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckActionScreen</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>soqlOpenPayments</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT id, Name, Account__c, Amount_to_Pay__c, Credit__c, Status__c, Payment_date__c, Is_Gift__c, Checkout_URL__c from Payment__c where Status__c =&apos;At Branch&apos; AND Account__c = &apos;&quot;+ {!Get_Account_Refresh.Id} +&quot;&apos; AND Amount_to_Pay__c &gt; 0 ORDER BY Name &quot;</expression>
    </formulas>
    <interviewLabel>SFSCH - Internal Landing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Internal Landing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1177</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>identificator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Refresh</name>
        <label>Get Account (Refresh)</label>
        <locationX>1106</locationX>
        <locationY>1616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Today_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Info</name>
        <label>Get Service Resource Info</label>
        <locationX>1606</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Token_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>token</elementReference>
            </value>
        </filters>
        <filters>
            <field>Valid_Date_Login__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Today_Appointment</name>
        <label>Get Today Appointment</label>
        <locationX>1106</locationX>
        <locationY>1724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>50</locationX>
        <locationY>2372</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Today_Appointment</targetReference>
        </connector>
        <inputReference>fAppointment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CheckActionScreen</name>
        <label>CheckActionScreen</label>
        <locationX>1375</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>CheckActionScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CheckActionScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckActionScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>logofirst</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>logoblack</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>50%</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckActionScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CheckActionScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CheckActionScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckActionScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonTrainerAction</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Moja Administratíva&quot;,&quot;value&quot;:&quot;trainer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:ad_set&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckActionScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonCustomerAction</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Administratíva Klienta&quot;,&quot;value&quot;:&quot;customerCare&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:people&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckActionScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Back_Screen</name>
        <label>Credit Back Screen</label>
        <locationX>1898</locationX>
        <locationY>2156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť do Menu</backButtonLabel>
        <connector>
            <targetReference>Credit_Back_Flow</targetReference>
        </connector>
        <fields>
            <name>logoCredit</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>headerCredit</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Koľko X-Tokenov chceš vrátiť a prečo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Back_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Credit_Back_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Back_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>creditBackNumber</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>X-Token</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Back_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reason</name>
                    <dataType>String</dataType>
                    <fieldText>Dôvod Vrátenia</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Back_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Vrátiť X-Tokeny</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MenuScreen</name>
        <label>MenuScreen</label>
        <locationX>1106</locationX>
        <locationY>1832</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Message_Null</targetReference>
        </connector>
        <fields>
            <name>logoInterna</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>successMess</name>
            <fieldText>&lt;p&gt;{!greenBox}&lt;/p&gt;&lt;p&gt;{!showMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>warningPayment</name>
            <fieldText>&lt;p&gt;{!yellowBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;Minusová hodnota X-Tokenov. Vykonaj platbu&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account_Refresh.Remaining_Credit__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textSection</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Informácie o najbližšom tréningu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Today_Appointment.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MenuScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trainig_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.WorkType.Name</elementReference>
                    </defaultValue>
                    <fieldText>Typ Tréningu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Training_Duration</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.DurationInMinutes</elementReference>
                    </defaultValue>
                    <fieldText>Trvanie Tréningu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Training_Cost</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.Spent_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Cena Tréningu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Status</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.SchedStartTime</elementReference>
                    </defaultValue>
                    <fieldText>Začiatok</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Today_Appointment.SchedEndTime</elementReference>
                    </defaultValue>
                    <fieldText>Koniec</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Today_Appointment.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>buttonPresent</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Customer Checkin&quot;,&quot;value&quot;:&quot;CheckIn&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:checkin&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Today_Appointment.Customer_Presented__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Today_Appointment.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Paid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tokenStatusText</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Stav X-Tokenov pre {!Get_Account_Refresh.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MenuScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MenuScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X_Token</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Availaible_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>X-Tokeny k dispozícii</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nak_pen_X_Tokeny_spolu</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Purchased_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Nakúpené X-Tokeny spolu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Minut_X_Tokeny</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Consumed_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Minuté X-Tokeny</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>fetchOpenPayments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>soqlOpenPayments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>withSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>systemAccess</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>toPayScreen</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Otvorené Platby&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fetchOpenPayments.firstRetrievedRecord.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MenuScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tableOpenPayments</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Otvorené Platby</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fetchOpenPayments.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7467&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Číslo platby&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Purchase Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount_to_Pay__c&quot;,&quot;guid&quot;:&quot;column-8f4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Suma&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Payment Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Is_Gift__c&quot;,&quot;guid&quot;:&quot;column-7840&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Darček&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Is Gift?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Credit__c&quot;,&quot;guid&quot;:&quot;column-acea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Počet X-Tokenov&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Credit&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fetchOpenPayments.firstRetrievedRecord.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Kúpiť Produkty&quot;,&quot;value&quot;:&quot;productBuy&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Rezervácia Termínu&quot;,&quot;value&quot;:&quot;createReservation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:notebook&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Mám darčekový kupón&quot;,&quot;value&quot;:&quot;claimGift&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:price_book_entries&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MenuButtons2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Moje Platby&quot;,&quot;value&quot;:&quot;myPayments&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Moje Rezervácie&quot;,&quot;value&quot;:&quot;myReservations&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:notebook&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Trénerská Zóna&quot;,&quot;value&quot;:&quot;trainerZone&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>menuButton3</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Vrátenie X-Tokenov&quot;,&quot;value&quot;:&quot;creditBack&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1177</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>logo222</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>logoblack</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>50%</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>errorCode</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Zadaný identifikátor nie je správny&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>wrongCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SectionBooo</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Zadaj prosím identifikátor zákazníka&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>identificator</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>accountCode</elementReference>
                    </defaultValue>
                    <fieldText>Identifikátor Zákazníka</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ButtonNext</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Overiť&quot;,&quot;value&quot;:&quot;next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNoAction</name>
        <label>ScreenNoAction</label>
        <locationX>1837</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenNoAction_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenNoAction_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenNoAction_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>logo22</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>logoblack</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>50%</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenNoAction_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>erroror</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Tvoja session expirovala. Prosím, znova sa naloguj cez hlavné menu&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordId_Known</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Products_subflow</name>
        <label>Buy Products</label>
        <locationX>314</locationX>
        <locationY>2156</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Buy_Credit_Internal</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account_Refresh</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>showMessage</assignToReference>
            <name>message</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Reservation_Internal</name>
        <label>Create Reservation</label>
        <locationX>842</locationX>
        <locationY>2156</locationY>
        <connector>
            <targetReference>Message2</targetReference>
        </connector>
        <flowName>SFSCH_Create_Reservation_Internal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account_Refresh.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Credit_Back_Flow</name>
        <label>Credit Back Flow</label>
        <locationX>1898</locationX>
        <locationY>2264</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Create_Free_Payment</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account_Refresh.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreditBack</name>
            <value>
                <elementReference>creditBackNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentMethod</name>
            <value>
                <stringValue>CashBack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reason</name>
            <value>
                <elementReference>reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>Get_Service_Resource_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>showMessage</assignToReference>
            <name>message</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>My_PaymentsInternal</name>
        <label>My Payments</label>
        <locationX>1106</locationX>
        <locationY>2156</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_My_Payments_Internal_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account_Refresh</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>My_Reservation</name>
        <label>My Reservation</label>
        <locationX>1370</locationX>
        <locationY>2156</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_My_Reservations</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>Get_Account_Refresh</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFSCH_Claim_Gift_Card</name>
        <label>SFSCH - Claim Gift Card</label>
        <locationX>578</locationX>
        <locationY>2156</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Claim_Gift_Card</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account_Refresh.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>showMessage</assignToReference>
            <name>successMessageOut</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Trainer_Landing_Flow</name>
        <label>Trainer Landing Flow</label>
        <locationX>1573</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RecordId_Known</targetReference>
        </connector>
        <flowName>SFSCH_Trainer_Landing_Flow</flowName>
        <inputAssignments>
            <name>serviceResource</name>
            <value>
                <elementReference>Get_Service_Resource_Info</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountCode</assignToReference>
            <name>accountCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>moveToCustomerCare</assignToReference>
            <name>customerCare</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>greenBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-theme_success&quot; role=&quot;status&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>successBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot; style=&quot;background-color: green; color: white&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>yellowBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-theme_warning&quot; role=&quot;status&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>accountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>moveToCustomerCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paymentToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redir</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>no</stringValue>
        </value>
    </variables>
    <variables>
        <name>showMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showSuccessBox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrongCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
