force-app/main/default/flows/SFSCH_Landing_Flow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign AccountId</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>hideSuccessBox</name>
        <label>hideSuccessBoxes</label>
        <locationX>2085</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>showSuccessBox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftSuccessMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Follow_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Token</name>
        <label>Reset Token</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>token</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PaymentParamPresent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gift_Message</name>
        <label>Set Gift Message</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>giftSuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFSCH_Claim_Gift_Card.successMessageOut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Redirect_False</name>
        <label>Set Redirect False</label>
        <locationX>864</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>redir</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>From_Redirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSuccessBoxTrue</name>
        <label>setSuccessBoxTrue</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>showSuccessBox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>External_Redirect</name>
        <label>External Redirect?</label>
        <locationX>1133</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>MenuScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>token</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>redir</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_Action</name>
        <label>Follow Action</label>
        <locationX>2085</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Identify_Customer</targetReference>
            </connector>
            <label>Not Identified</label>
        </rules>
        <rules>
            <name>Buy_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditBuy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buy_Credit_Online</targetReference>
            </connector>
            <label>Buy Credit</label>
        </rules>
        <rules>
            <name>Buy_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>giftBuy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buy_Credit_Online_Gift</targetReference>
            </connector>
            <label>Buy Gift</label>
        </rules>
        <rules>
            <name>Claim_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>claimGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Claim_Gift_Card</targetReference>
            </connector>
            <label>Claim Gift</label>
        </rules>
        <rules>
            <name>Create_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createReservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Create_Reservation_Flow_1</targetReference>
            </connector>
            <label>Create Reservation</label>
        </rules>
        <rules>
            <name>My_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myPayments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Payments_subflow</targetReference>
            </connector>
            <label>My Payments</label>
        </rules>
        <rules>
            <name>My_Reservations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myReservations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Reservations_sub</targetReference>
            </connector>
            <label>My Reservations</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Subflow</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
        <rules>
            <name>Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MenuButtons3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refresh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Refresh</targetReference>
            </connector>
            <label>Refresh</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Redirect</name>
        <label>From Redirect?</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Follow_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_fromRedirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>token</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Token</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Login_Token</name>
        <label>Is Account Login Token?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>timerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountId.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paymentToken</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentParamPresent</name>
        <label>PaymentParamPresent?</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_pmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentToken</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Record_From_Param</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSCH {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Landing Flow New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Redirect_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Refresh</name>
        <label>Get Account (Refresh)</label>
        <locationX>2085</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MenuScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AccountId</name>
        <label>Get AccountId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Login_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Login_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>token</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record_From_Param</name>
        <label>Get Payment Record From Param</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setSuccessBoxTrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentToken</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MenuScreen</name>
        <label>MenuScreen</label>
        <locationX>2085</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>hideSuccessBox</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>menuScreenHeader</name>
            <fieldText>&lt;p&gt;{!successBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!Get_Payment_Record_From_Param.Success_Text__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showSuccessBox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>giftSuccessBox</name>
            <fieldText>&lt;p&gt;{!successBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!giftSuccessMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>giftSuccessMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tokenStatusText</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Stav X-Tokenov pre {!Get_Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MenuScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>helpToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nápoveda</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>helpText</name>
                    <fieldText>&lt;p&gt;{!mainHelp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>helpToggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MenuScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MenuScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X_Token</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Availaible_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>X-Tokeny k dispozícii</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nak_pen_X_Tokeny_spolu</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Purchased_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Nakúpené X-Tokeny spolu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Minut_X_Tokeny</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account_Refresh.Consumed_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Minuté X-Tokeny</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MenuScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MenuButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Kúpiť X-Tokeny&quot;,&quot;value&quot;:&quot;creditBuy&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:cart&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Rezervácia Termínu&quot;,&quot;value&quot;:&quot;createReservation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:notebook&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Odporúčanie&quot;,&quot;value&quot;:&quot;Referral&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:engage&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MenuButtons2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Moje Platby&quot;,&quot;value&quot;:&quot;myPayments&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Moje Rezervácie&quot;,&quot;value&quot;:&quot;myReservations&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:notebook&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MenuButtons3</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Kúpiť darček&quot;,&quot;value&quot;:&quot;giftBuy&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:groups&quot;},{&quot;label&quot;:&quot;Mám darčekový kupón&quot;,&quot;value&quot;:&quot;claimGift&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:price_book_entries&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Refresh&quot;,&quot;value&quot;:&quot;Refresh&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:refresh&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>timerScreen</name>
        <label>timerScreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Identify_Customer</targetReference>
        </connector>
        <fields>
            <name>logo6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>waitText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Prosím počkaj na presmerovanie&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>timer</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:4:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimer</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1007</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>External_Redirect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Credit_Online</name>
        <label>Buy Credit Online</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Buy_Credit_Online</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isGift</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Buy_Credit_Online_Gift</name>
        <label>Buy Credit Online - Gift</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Buy_Credit_Online</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isGift</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Identify_Customer</name>
        <label>Create/Identify Customer</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Create_Identify_Customer</flowName>
        <inputAssignments>
            <name>redir</name>
            <value>
                <elementReference>redir</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>My_Payments_subflow</name>
        <label>My Payments</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_My_Payments_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>My_Reservations_sub</name>
        <label>My Reservations</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_My_Reservations</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Referral_Subflow</name>
        <label>Referral Subflow</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Referral_Administration</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFSCH_Claim_Gift_Card</name>
        <label>SFSCH - Claim Gift Card</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_Gift_Message</targetReference>
        </connector>
        <flowName>SFSCH_Claim_Gift_Card</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFSCH_Create_Reservation_Flow_1</name>
        <label>SFSCH - Create Reservation Flow 1</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Account_Refresh</targetReference>
        </connector>
        <flowName>SFSCH_Create_Reservation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>mainHelp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Vitajte na hlavnej stránke našej klienstkej zóny. Tu nájdeš všetko, čo potrebuješ vedieť a vidieť&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Stav tvojich X-Tokenov&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Kúpiť X-Tokeny&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; =&amp;gt; Možnosť kúpiť X-token balíčky, s ktorými potom budeš platiť za tréningy. Čím väčší balík kúpiš, tým výhodnejšie&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Rezervácia termínu&quot; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;=&amp;gt; jednoduchým spôsobom si rezervuješ termín tréningu&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Odporúčanie&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; =&amp;gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Získaj X-Tokeny zadarmo. Tvoje odporúčanie odmeníme. &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Správa tvojich odporúčaní  a možnosť poslať odporúčanie známemu.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Moje Platby&quot; =&amp;gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Zoznam tvojich platieb s detailom&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Moje Rezervácie&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; =&amp;gt; správa tvojich existujúcich rezervácii. Potrebuješ zmeniť rezerváciu alebo si byť len istý, kedy máš tréning&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Kúpiť Darček&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; =&amp;gt; Obdaruj svojho blízkeho balíčkom X-Tokenov. Zmeň nielen svoj život&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Mám darčekový kupón&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; =&amp;gt; Dostal si darčekový kupón a chceš si uplatniť X-Tokeny&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>successBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot; style=&quot;background-color: green; color: white&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftSuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redir</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>no</stringValue>
        </value>
    </variables>
    <variables>
        <name>showSuccessBox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
