force-app/main/default/flows/SFSCH_Send_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Formatted_Date_and_Time</name>
        <label>Get Formatted Date and Time</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>DateTimeFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Appointment_Related_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTimes</name>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeFormatter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Admin_Notification</name>
        <label>Send Admin Notification</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <actionName>SendEmailWithAttachment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>Admin_Lead_HTMLBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Get_Admin_Email_Template.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailWithAttachment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <actionName>SendEmailWithAttachment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notify_Admin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>UpdatedHTMLBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Get_Email_Template.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailWithAttachment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Set Lead Related Values</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedHTMLBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_HTMLBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAdminHTMLBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Admin_Lead_HTMLBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Override</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Related_Values</name>
        <label>Set Appointment Related Values</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceAppointment.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedHTMLBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_HTMLBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Override</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Related_Values</name>
        <label>Set Payment Related Values</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedHTMLBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_HTMLBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Override</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient</name>
        <label>Set Recipient</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Email_Template_DeveloperName.Admin_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Admin_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Override</name>
        <label>Set Recipient Override</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Email_Template_DeveloperName.Email_Override__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Override</name>
        <label>Email Override?</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template_DeveloperName.Email_Override__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipient_Override</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Admin</name>
        <label>Notify Admin?</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No or missing data</defaultConnectorLabel>
        <rules>
            <name>Yes_notifyAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template_DeveloperName.Notify_Admin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Admin_Email_Template</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Template_DeveloperName.Admin_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_SObject</name>
        <label>Related SObject</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Template_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Template Missing</label>
        </rules>
        <rules>
            <name>Lead_sobj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template.RelatedEntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Payment_sobj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template.RelatedEntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Item</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
        <rules>
            <name>Service_Appointment_sobj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template.RelatedEntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiceAppointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_SA_Fields</targetReference>
            </connector>
            <label>Service Appointment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Admin_Lead_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Admin_Email_Template.HtmlValue}, &apos;{Lead.Name}&apos;,{!Lead.Name}),&apos;{Lead.Description_Rich__c}&apos;,{!Lead.Description_Rich__c})</expression>
    </formulas>
    <formulas>
        <name>Appointment_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!Get_Email_Template.HtmlValue},&apos;{ServiceAppointment.Start_Date__c}&apos;,{!ServiceAppointment.Start_Date__c}),
&apos;{ServiceAppointment.Start_Time__c}&apos;,{!Get_Formatted_Date_and_Time.formattedTime}),
&apos;{ServiceAppointment.DurationInMinutes}&apos;,TEXT({!ServiceAppointment.DurationInMinutes})),
&apos;{ServiceAppointment.Subject}&apos;,{!ServiceAppointment.Subject}),
&apos;{Account.Remaining_Credit__c}&apos;,TEXT({!Get_SA_Account.Remaining_Credit__c})),
&apos;{ServiceAppointment.Spent_Credit__c}&apos;,TEXT({!ServiceAppointment.Spent_Credit__c}))</expression>
    </formulas>
    <formulas>
        <name>emailFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Payment.Anonymous_Email__c}),{!Payment.Account__r.Email__c}, {!Payment.Anonymous_Email__c})</expression>
    </formulas>
    <formulas>
        <name>Lead_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Email_Template.HtmlValue}, &apos;{Lead.Name}&apos;,{!Lead.Name}),&apos;{Lead.Description_Rich__c}&apos;,{!Lead.Description_Rich__c})</expression>
    </formulas>
    <formulas>
        <name>Payment_HTMLBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!Get_Email_Template.HtmlValue},&apos;{Payment.Gift_Code__c}&apos;,{!Payment.Gift_Code__c}),
&apos;{Payment.Credit__c}&apos;,TEXT({!Payment.Credit__c})),
&apos;{Payment.GiftCredits}&apos;,TEXT({!Get_Payment_Item.Quantity__c}))</expression>
    </formulas>
    <interviewLabel>SFSCH - Send Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Send Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Admin_Email_Template</name>
        <label>Get Admin Email Template</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_SObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Template_DeveloperName.Admin_Notify_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_SA_Fields</name>
        <label>Get Relevant SA Fields</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Parent_Account_Name__c</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Spent_Credit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Template_DeveloperName.Template_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_DeveloperName</name>
        <label>Get Email Template DeveloperName</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Address</name>
        <label>Get Org Wide Address</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template_DeveloperName</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Item</name>
        <label>Get Payment Item</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Payment_Related_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Account</name>
        <label>Get SA Account</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Formatted_Date_and_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org_Wide_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UpdatedAdminHTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedHTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
