force-app/main/default/flows/SFSCH_Referral_Administration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Show_Records</name>
        <label>Assign Show Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>anyReferrals</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Show_Records_Trainer</name>
        <label>Assign Show Records</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>anyReferrals</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Value</name>
        <label>Assign Status Value</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Referrals.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listReferrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Referrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Status_Value</name>
        <label>Copy 2 of Assign Status Value</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_Referrals.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusValueCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listReferrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Referrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Remove_Values</name>
        <label>Copy 2 of Remove Values</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>listReferrals</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Values</name>
        <label>Remove Values</label>
        <locationX>930</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>listReferrals</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Referrals_trainer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Referrals</name>
        <label>Any Referrals</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referrals</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Show_Records</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Referrals_Trainer</name>
        <label>Any Referrals</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen1_Trainer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Available_trainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referrals_trainer</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Show_Records_Trainer</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Button_clicked</name>
        <label>Button clicked</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionAccountSentReferral.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>back</stringValue>
                </rightValue>
            </conditions>
            <label>Back</label>
        </rules>
        <rules>
            <name>Sent_referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionAccountSentReferral.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFSCH_Referral_Flow_1</targetReference>
            </connector>
            <label>Sent referral</label>
        </rules>
        <rules>
            <name>claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionAccountClaim.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Free_Credits_Referals</targetReference>
            </connector>
            <label>Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Button_Clicked_trainer</name>
        <label>Button Clicked</label>
        <locationX>1062</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>END</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Button_Clicked_trainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionAccountSentReferralTrainer.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Outcome 1 of Button Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_User</name>
        <label>Which User</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Referrals_trainer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Resource</defaultConnectorLabel>
        <rules>
            <name>Account_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referrals</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>showValueStatus</name>
        <dataType>String</dataType>
        <expression>IF(Text({!tableAccountReferrals.firstSelectedRow.Status__c}) = &apos;Odporúčamie poslané&apos;,&apos;Odporúčanie bolo poslané, ale zatiaľ bez akcie&apos;,
IF(Text({!tableAccountReferrals.firstSelectedRow.Status__c}) = &apos;Úspešna Registrácia&apos;,&apos;Registrácia uspešná. Pre získanie odmeny, musí tvoje odporúčanie nakúpiť spolu aspoň 50 X-Tokenov&apos;,
IF(Text({!tableAccountReferrals.firstSelectedRow.Status__c}) = &apos;Pripravené na vyplatenie&apos;,&apos;Blahoželáme, tvoje odporúčanie bolo uspešné. Prosím, klikni na Dostať Odmenu, na získanie 10 X-Tokenov&apos;, 
&apos;Odmena bola vyplatená&apos;)))</expression>
    </formulas>
    <formulas>
        <name>statusValue</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!Loop_Referrals.Status__c})=&apos;Referral Sent&apos;,&apos;Unregistered&apos;,&apos;Registered&apos;)</expression>
    </formulas>
    <formulas>
        <name>statusValueCustomer</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!Copy_1_of_Loop_Referrals.Status__c})=&apos;Referral Sent&apos;,&apos;Odporúčamie poslané&apos;,
If(TEXT({!Copy_1_of_Loop_Referrals.Status__c})=&apos;Customer Registered&apos;,&apos;Úspešna Registrácia&apos;,
If(TEXT({!Copy_1_of_Loop_Referrals.Status__c})=&apos;Ready to Claim&apos;,&apos;Pripravené na vyplatenie&apos;,
&apos;Odmena Vyplatená&apos;)))</expression>
    </formulas>
    <interviewLabel>SFSCH = Referral Administration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Referral Administration</label>
    <loops>
        <name>Copy_1_of_Loop_Referrals</name>
        <label>Copy 1 of Loop Referrals</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Referrals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Status_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Referrals</name>
        <label>Loop Referrals</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Referrals_trainer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1_Trainer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Referrals</name>
        <label>Get Referrals</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referrals_trainer</name>
        <label>Get Referrals</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Referrals_Trainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>930</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sent_Referral_Trainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_clicked</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;{!greenBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Tvoje Odporúčania a ich stav&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toggleHelp</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nápoveda</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>toggleHelpText</name>
                    <fieldText>&lt;p&gt;{!$Label.SFSCH_ToggleHelp_Referral_Screens}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>toggleHelp.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>noRecordsAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Momentálne nemáš žiadne otvorené odporúčania&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>anyReferrals</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tableAccountReferrals</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Referral__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tvoje Odporúčania</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>listReferrals</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-d40a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Meno Klienta&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-25f2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-fbbb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Dátum&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-5677&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Remaining_Credits__c&quot;,&quot;guid&quot;:&quot;column-374f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zostavajúci Kredit pre získanie Bonusu&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Remaining Credits&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!showValueStatus}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>tableAccountReferrals.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>actionAccountClaim</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Vyplatiť Odmenu&quot;,&quot;value&quot;:&quot;claim&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:target_mode&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>tableAccountReferrals.firstSelectedRow.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pripravené na vyplatenie</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>anyReferrals</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>actionAccountSentReferral</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Poslať Odporúčanie&quot;,&quot;value&quot;:&quot;sent&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:send&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Späť do Menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:skip_back&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_Trainer</name>
        <label>Screen1</label>
        <locationX>1062</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_Clicked_trainer</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_2_of_successMessage</name>
            <fieldText>&lt;p&gt;{!greenBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_text1</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Tvoje Odporúčania a ich stav&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_noRecordsAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Momentálne nemáš žiadne otvorené odporúčania&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>anyReferrals</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen1_Trainer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Trainer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Trainer_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_tableAccountReferrals</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Referral__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tvoje Odporúčania</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>listReferrals</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-d40a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-25f2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-fbbb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-5677&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Trainer_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>actionAccountSentReferralTrainer</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Poslať Odporúčanie&quot;,&quot;value&quot;:&quot;sent&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:send&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Späť do Menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:skip_back&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Free_Credits_Referals</name>
        <label>Get Free Credits Referals</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Copy_2_of_Remove_Values</targetReference>
        </connector>
        <flowName>SFSCH_Create_Free_Payment</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreditBack</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentMethod</name>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reason</name>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referralId</name>
            <value>
                <elementReference>tableAccountReferrals.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Sent_Referral_Trainer</name>
        <label>Sent Referral</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Remove_Values</targetReference>
        </connector>
        <flowName>SFSCH_Referral</flowName>
        <inputAssignments>
            <name>serviceResource</name>
            <value>
                <elementReference>Get_Service_Resource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>message</assignToReference>
            <name>successMessageOut</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SFSCH_Referral_Flow_1</name>
        <label>SFSCH - Referral Flow 1</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Copy_2_of_Remove_Values</targetReference>
        </connector>
        <flowName>SFSCH_Referral</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>message</assignToReference>
            <name>successMessageOut</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>greenBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-theme_success&quot; role=&quot;status&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>anyReferrals</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>listReferrals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
