force-app/main/default/flows/SFSCH_Payment_After_Update_Trigger_Status_to_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_to_Credit_Usage</name>
        <label>Assign to Credit Usage</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>fCreditUsage.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Consumed_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Items.Credit_to_Consume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Consumption_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Payment_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditUsageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fCreditUsage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fCreditUsage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Consume_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Consume Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Filter_Consume_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Payment_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Consume_Records.Credit_to_Consume__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Any_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Records</name>
        <label>Any Records</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Consume_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSCH - Payment After Update Trigger Status to Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Payment After Update Trigger Status to Paid</label>
    <loops>
        <name>loop_Items</name>
        <label>loop Items</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Filter_Consume_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Credit_Usage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Usage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Usage</name>
        <label>Create Credit Usage</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>CreditUsageList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Items</name>
        <label>Get Payment Items</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Consume_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Credit_to_Consume__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditUsageList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Consume_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Invoice_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>fCreditUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
</Flow>
