force-app/main/default/flows/SFSCH_Payment_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_revolut_order_Existing_Customer</name>
        <label>Create revolut order Existing Customer</label>
        <locationX>776</locationX>
        <locationY>1430</locationY>
        <actionName>RevolutApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_Item</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>revolutAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentIds</name>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>Get_Account.Revolut_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Get_Current_Payment1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>urlForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RevolutApi</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_revolut_order_New_Customer</name>
        <label>Create revolut order New Customer</label>
        <locationX>512</locationX>
        <locationY>1430</locationY>
        <actionName>RevolutApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Revolut_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>revolutAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentIds</name>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Account.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullName</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Get_Current_Payment1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>urlForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RevolutApi</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Url</name>
        <label>Navigate To Url</label>
        <locationX>842</locationX>
        <locationY>2486</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Set_Started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>checkoutURLFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Revolut_Id</name>
        <label>Assign Revolut Id</label>
        <locationX>512</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Revolut_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_revolut_order_New_Customer.customerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Revolut_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Item</name>
        <label>Assign Values to Item</label>
        <locationX>644</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>fPaymentItem.Credit_Price_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Price_per_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPayment.Payment_Intent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fPaymentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Item_Cash</name>
        <label>Assign Values to Item</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>fPaymentItem.Credit_Price_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Price_per_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fPaymentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Item_Cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage</name>
        <label>Error</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>messageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prosím, pre platbu, vyber jeden z balíkov </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Paid</name>
        <label>Already Paid?</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Cancel_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Paid_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Revolut_Customer</name>
        <label>New Revolut Customer?</label>
        <locationX>644</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_revolut_order_Existing_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>Revolut_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Revolut_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_revolut_order_New_Customer</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Amount_Value</name>
        <label>Remaining Amount Value</label>
        <locationX>1914</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>screenReservationDOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Remaining_Credit__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metadata</targetReference>
            </connector>
            <label>Less Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>644</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Credit_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Paid</targetReference>
            </connector>
            <label>Credit Change</label>
        </rules>
        <rules>
            <name>Cancel_finB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelPayment</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payNowButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Url</targetReference>
            </connector>
            <label>Pay</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_clicked</name>
        <label>What was clicked?</label>
        <locationX>1403</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buy_Credits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCreditButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>creditRangeTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Payment1</targetReference>
            </connector>
            <label>Buy Credits</label>
        </rules>
        <rules>
            <name>Pay_by_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCreditButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay at Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>creditRangeTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment</targetReference>
            </connector>
            <label>Pay by Cash</label>
        </rules>
        <rules>
            <name>Cancel_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCreditButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel</targetReference>
            </connector>
            <label>Cancel Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>zrusit</name>
        <label>zrusit?</label>
        <locationX>1766</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nie</defaultConnectorLabel>
        <rules>
            <name>Yes22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonCancel.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountToPayFormula</name>
        <dataType>Currency</dataType>
        <expression>{!creditRangeTable.firstSelectedRow.Price_per_Package__c} * {!quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayWoVAT</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula}/(1+{!Get_Metadata.LOWER_VAT__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AvailableCreditFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Account.Remaining_Credit__c} + {!ServiceAppointment.Spent_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>checkoutURLFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_revolut_order_Existing_Customer.checkoutUrl}),{!Create_revolut_order_New_Customer.checkoutUrl},{!Create_revolut_order_Existing_Customer.checkoutUrl})</expression>
    </formulas>
    <formulas>
        <name>customerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.First_Name__c} + &apos; &apos; + {!Get_Account.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>greenBox</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;div class=&quot;slds-scoped-notification slds-theme_success&quot; role=&quot;status&quot;&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>intentFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_revolut_order_Existing_Customer.orderId}),{!Create_revolut_order_New_Customer.orderId},{!Create_revolut_order_Existing_Customer.orderId})</expression>
    </formulas>
    <formulas>
        <name>minimumToBuy</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Account.Remaining_Credit__c}&lt;0,-{!Get_Account.Remaining_Credit__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>revolutAmount</name>
        <dataType>Number</dataType>
        <expression>{!amountToPayFormula}*100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>soqlPackagesFormula</name>
        <dataType>String</dataType>
        <expression>IF({!packageType.value},
&quot;select id, name, Price_per_Credit__c, Price_per_ARX_Training__c,Quantity__c,Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = true order by Order__c ASC&quot;,
&quot;select id, name, Price_per_Credit__c,Quantity__c,Price_per_ARX_Training__c, Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = false order by Order__c ASC&quot;)</expression>
    </formulas>
    <formulas>
        <name>tokenValidityFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <formulas>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <expression>{!quantity} * {!creditRangeTable.firstSelectedRow.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>urlForm</name>
        <dataType>String</dataType>
        <expression>{!Get_Website_Settings.After_Payment_URL__c}+&quot;?redir=yes&amp;token=&quot; + {!Get_Account.Login_Token__c} + &quot;&amp;pmt=&quot; + {!Get_Current_Payment1.Id}</expression>
    </formulas>
    <formulas>
        <name>VATFormula</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula} - {!amountToPayWoVAT}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>yellowBox</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;div class=&quot;slds-scoped-notification slds-theme_warning&quot; role=&quot;status&quot;&gt;&apos;</expression>
    </formulas>
    <interviewLabel>SFSCH - Payment Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Payment Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>1403</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calculate_with_VAT__c</field>
            <value>
                <elementReference>Get_Metadata.VAT_Payer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Item</name>
        <label>Create Payment Item</label>
        <locationX>644</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Link_Order_Id_to_payment</targetReference>
        </connector>
        <inputReference>PaymentItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Item_Cash</name>
        <label>Create Payment Item</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Copy_1_of_SCreenCOnfirmSuccess</targetReference>
        </connector>
        <inputReference>PaymentItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1914</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_Amount_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Appountment</name>
        <label>Get Appountment</label>
        <locationX>1914</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credit_Usage_and_Appointmnet_to_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Spent_Credit__c</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Payment</name>
        <label>Get Current Payment</label>
        <locationX>644</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect_to_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Payment1</name>
        <label>Get Current Payment</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Revolut_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>1403</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revolut_Key__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Settings</name>
        <label>Get Website Settings</label>
        <locationX>1914</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Website_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Payment</name>
        <label>Cancel Payment</label>
        <locationX>314</locationX>
        <locationY>2594</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Payment1</name>
        <label>Cancel Payment</label>
        <locationX>578</locationX>
        <locationY>2594</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Order_Id_to_payment</name>
        <label>Link Order Id to payment</label>
        <locationX>644</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Get_Current_Payment</targetReference>
        </connector>
        <inputReference>fPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Started</name>
        <label>Set Started</label>
        <locationX>842</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>CloseTabScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Revolut_Id</name>
        <label>Update Account Revolut Id</label>
        <locationX>512</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Assign_Values_to_Item</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>COnfirmationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Values_to_Item_Cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>At Branch</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Paid_Screen</name>
        <label>Already Paid</label>
        <locationX>50</locationX>
        <locationY>2594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logo5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>alreadyPaidText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;Poplatok bol spracovaný, zmena počtu X-Tokenov už nie je možná&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Späť do menu</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel</name>
        <label>Cancel</label>
        <locationX>1766</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť</backButtonLabel>
        <connector>
            <targetReference>zrusit</targetReference>
        </connector>
        <fields>
            <name>logo9</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>testhhh</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Naozaj chcete zrušiť rezerváciu?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonCancel</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ano&quot;,&quot;value&quot;:&quot;Ano&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Nie&quot;,&quot;value&quot;:&quot;Nie&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:ban&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Pokračovať</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>cancelPayment</name>
        <label>cancelPayment</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_Payment1</targetReference>
        </connector>
        <fields>
            <name>logo6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Naozaj si želáte zrušiť platbu?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Áno</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloseTabScreen</name>
        <label>CloseTabScreen</label>
        <locationX>842</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>logo7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeTabDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Toto okno môžete zavrieť&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COnfirmationScreen</name>
        <label>COnfirmationScreen</label>
        <locationX>1634</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logott</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>ťé5</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>logogfff</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>awserdcgvh</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;To nám je ľúto. Tešíme sa na tvoju ďalšiu návštevu.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonCancel2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:enter&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Pokračovať</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_SCreenCOnfirmSuccess</name>
        <label>SCreenCOnfirmSuccess</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_screensuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Ďakujeme.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Zvolil si si možnosť platby na priamo na prevádzke.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonBranch</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;Späť do menu&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:undo&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Pokračovať</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Payment</name>
        <label>Redirect to Payment</label>
        <locationX>644</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
        <fields>
            <name>logo4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>paymentInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Tvoja platba je pripravená. Prosím, klikni na tlačítko &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Zaplatiť&quot; &lt;/strong&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;a budeš presmerovaný na platobnú bránu.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Ďakujeme&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirect_to_Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_to_Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>payNowButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Zaplatiť {!amountToPayFormula} s povinnosťou platby&quot;,&quot;value&quot;:&quot;pay&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>margin-bottom: 20px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>termsConditionsCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>payNowDisabled</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Zaplatiť {!amountToPayFormula} s povinnosťou platby&quot;,&quot;value&quot;:&quot;none&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>pointer-events: none; cursor: not-allowed; opacity: 0.5; margin-bottom: 20px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>termsConditionsCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>termsConditionsCheck</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!termsConditionsText}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>finishButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Zmeniť počet X-Tokenov&quot;,&quot;value&quot;:&quot;creditChange&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:change_record_type&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Zrušiť platbu&quot;,&quot;value&quot;:&quot;cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1403</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_was_clicked</targetReference>
        </connector>
        <fields>
            <name>logo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>redbox</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!yellowBox}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 255, 255);&quot;&gt;Nemáš dostatok X-Token kreditov.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 255, 255);&quot;&gt;Pre pokračovanie, prosím kúp X-Token kredity. Čím viac kúpiš, tým výhodnejšie pre teba.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 255, 255);&quot;&gt;Pre ukončenie, klikni &quot;Zrušíť rezerváciu&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remaining_Balance</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section2</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Kúpiť X-Token Kredity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remaining_Balance</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>packageType</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Typ Balíka</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Chcem sám cvičiť</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Vo dvojici</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>fetchCredits</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>soqlPackagesFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShowEreror</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!messageShow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>messageShow</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>creditRangeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>X-Token Cenník cena/ks pri určitom množstve</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fetchCredits.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e2bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Balík&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Credit Price Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-6b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Počet X-Tokenov&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Price_per_Credit__c&quot;,&quot;guid&quot;:&quot;column-5b31&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/X-Token&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Price per Credit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Price_per_Package__c&quot;,&quot;guid&quot;:&quot;column-5404&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena za Balík&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Price per Package&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Range_Discount__c&quot;,&quot;guid&quot;:&quot;column-68e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Range Discount&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Price_per_ARX_Training__c&quot;,&quot;guid&quot;:&quot;column-df7f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/Tréning&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Price per ARX Training&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remaining_Balance</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Remaining_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Zostávajúci zostatok</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Množstvo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>totalQuantityField</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>totalQuantity</elementReference>
                    </defaultValue>
                    <fieldText>Celkové Množstvo X-Tokenov</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount_to_pay</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayFormula</elementReference>
                    </defaultValue>
                    <fieldText>Celková Cena</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>priceWoVAT</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayWoVAT</elementReference>
                    </defaultValue>
                    <fieldText>Celková cena bez DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DPH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>VATFormula</elementReference>
                    </defaultValue>
                    <fieldText>DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>noCreditButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Platba Kartou&quot;,&quot;value&quot;:&quot;Buy Credit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:payment_gateway&quot;},{&quot;label&quot;:&quot;Platba na prevádzke&quot;,&quot;value&quot;:&quot;Pay at Branch&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:money&quot;},{&quot;label&quot;:&quot;Zrušiť Rezerváciu Tréningu&quot;,&quot;value&quot;:&quot;cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remaining_Balance</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReservationDOne</name>
        <label>screenReservationDOne</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logo222</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tvoja rezervácia bola úspešná. Za tréning sme ti stiahli {!ServiceAppointment.Spent_Credit__c} X-Tokenov.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>endAfterTime</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:4:0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1788</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appountment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Credit_Usage_and_Appointmnet_to_Paid</name>
        <label>Create Credit Usage and Appointmnet to Paid</label>
        <locationX>1914</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowName>SFSCH_Create_Credit_Usage_from_Appointment_subflow</flowName>
        <inputAssignments>
            <name>AppointmentIds</name>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1914</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Website_Settings</targetReference>
        </connector>
        <flowName>SFSCH_Send_Email_Notification</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Create Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>payButtonFormula</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_blank&quot; href={!checkoutURLFormula} style=&quot;position: absolute&quot;&gt;Platba {!amountToPayFormula}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>payButtonFormulaDisabled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span class=&quot;slds-button slds-button_brand&quot; style=&quot;background-color:gray; position: absolute&quot;&gt;Platba {!amountToPayFormula}&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>termsConditionsText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Súhlasím s &lt;a href=&quot;https://www.evoxise.sk/s/vseobecne-obchodne-podmienky&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;všeobecnými obchodnými podmienkami&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>fPaymentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>messageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>priceRangeQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>select id, name, Price_per_Credit__c, Lower_Band__c,Higher_Band__c, Range_Discount__c, Range__c  from Credit_Price_Range__c order by name ASC</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
