force-app/main/default/flows/SFSCH_Modify_Apppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>693</locationX>
        <locationY>1106</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkType</name>
            <value>
                <elementReference>workType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Service_Resource_Id</name>
        <label>Set Service Resource Id</label>
        <locationX>363</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignedResourceRecord.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getWorkTypeRecord</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_done_after_Review</name>
        <label>Action done after Review</label>
        <locationX>561</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Save_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change</defaultConnectorLabel>
        <rules>
            <name>BackAfterRevoew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonReview.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>back</stringValue>
                </rightValue>
            </conditions>
            <label>Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>button_chosen_after_time_slot</name>
        <label>button chosen after time slot</label>
        <locationX>363</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>ReviewScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>back</stringValue>
                </rightValue>
            </conditions>
            <label>back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSCH - Modify Apppointment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Modify Apppointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Assigned_Resource</name>
        <label>Assigned Resource</label>
        <locationX>363</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Service_Resource_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimaryResource</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>assignedResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkTypeRecord</name>
        <label>getWorkTypeRecord</label>
        <locationX>363</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>AdditionalInformation</queriedFields>
        <queriedFields>AppointmentType</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>AppointmentMode</queriedFields>
        <queriedFields>AttendeeLimit</queriedFields>
        <queriedFields>GroupAppointmentAccessType</queriedFields>
        <queriedFields>Service_Resources_JSON__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logoConfirm</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>xdcfvgb</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Tvoja rezervácia bola zmenená.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonConfirm</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>561</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_done_after_Review</targetReference>
        </connector>
        <fields>
            <name>imageLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ReviewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newFlowReview</name>
                    <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>appointmentType</name>
                        <value>
                            <elementReference>ServiceAppointment.AppointmentType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contactId</name>
                        <value>
                            <elementReference>ServiceAppointment.ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentRecordId</name>
                        <value>
                            <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>additionalInformation</name>
                        <value>
                            <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>ServiceAppointment.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>comments</name>
                        <value>
                            <elementReference>ServiceAppointment.Comments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>ServiceAppointment.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>endDateTime</name>
                        <value>
                            <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>ServiceAppointment.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>startDateTime</name>
                        <value>
                            <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>ServiceAppointment.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>ServiceAppointment.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceResourceId</name>
                        <value>
                            <elementReference>serviceResourceId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceTerritoryId</name>
                        <value>
                            <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workTypeGroupId</name>
                        <value>
                            <elementReference>workTypeGroupId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceAppointmentFields</name>
                        <value>
                            <elementReference>serviceAppointmentFields</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>optionalAttendees</name>
                        <value>
                            <elementReference>optionalAttendees</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>saveErrors</name>
                        <value>
                            <elementReference>$Flow.FaultMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceAppointment</name>
                        <value>
                            <elementReference>ServiceAppointment</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceAppointmentId</name>
                        <value>
                            <elementReference>ServiceAppointmentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceResources</name>
                        <value>
                            <elementReference>serviceResources</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowResourceSection</name>
                        <value>
                            <elementReference>showServiceResource</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSlotChanged</name>
                        <value>
                            <elementReference>isSlotChanged</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedTimezone</name>
                        <value>
                            <elementReference>selectedTimezone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>validationErrors</name>
                        <value>
                            <elementReference>validationErrors</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workTypeId</name>
                        <value>
                            <elementReference>ServiceAppointment.WorkTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>schedulingPolicyName</name>
                        <value>
                            <elementReference>SchedulingPolicyName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>engagementChannelType</name>
                        <value>
                            <elementReference>engagementChannelTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>attendeeLimit</name>
                        <value>
                            <elementReference>ServiceAppointment.AttendeeLimit</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>groupAppointmentAccessType</name>
                        <value>
                            <elementReference>ServiceAppointment.GroupAppointmentAccessType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>serviceAppointmentFields</assignToReference>
                        <name>serviceAppointmentFields</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>optionalAttendees</assignToReference>
                        <name>optionalAttendees</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>validationErrors</assignToReference>
                        <name>validationErrors</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>engagementChannelTypeId</assignToReference>
                        <name>engagementChannelType</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ReviewScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>buttonReview</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Potvrdzujem&quot;,&quot;value&quot;:&quot;confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:enter&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>363</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>button_chosen_after_time_slot</targetReference>
        </connector>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>twtxtt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Zvoľ si nový termín rezervácie&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TimeSlotScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TimeSlotScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TimeSlotScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowTimeslot</name>
                    <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>serviceResources</name>
                        <value>
                            <elementReference>ServiceAppointment.Service_Resources_JSON__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showTimeZonePicklist</name>
                        <value>
                            <elementReference>showTimeZonePicklist</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentRecordId</name>
                        <value>
                            <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSlotChanged</name>
                        <value>
                            <elementReference>isSlotChanged</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInbound</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isHideSkip</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceResourceId</name>
                        <value>
                            <elementReference>serviceResourceId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceTerritoryId</name>
                        <value>
                            <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workTypeGroupId</name>
                        <value>
                            <elementReference>workTypeGroupId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currStartDate</name>
                        <value>
                            <elementReference>startDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>validationErrors</name>
                        <value>
                            <elementReference>validationErrors</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workType</name>
                        <value>
                            <elementReference>workType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedEndTime</name>
                        <value>
                            <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedStartTime</name>
                        <value>
                            <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableMultiResourceAndConcurrency</name>
                        <value>
                            <elementReference>disableMultiResource</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceAppointmentId</name>
                        <value>
                            <elementReference>ServiceAppointmentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>schedulingPolicyName</name>
                        <value>
                            <elementReference>SchedulingPolicyName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectedTimezone</name>
                        <value>
                            <elementReference>DefaultTimeZone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedTimezone</name>
                        <value>
                            <elementReference>selectedTimezone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>correlationId</name>
                        <value>
                            <elementReference>correlationId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>engagementChannelType</name>
                        <value>
                            <elementReference>engagementChannelTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>appointmentMode</name>
                        <value>
                            <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                        <name>selectedStartTime</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                        <name>selectedEndTime</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>validationErrors</assignToReference>
                        <name>validationErrors</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>startDate</assignToReference>
                        <name>currStartDate</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>isSlotChanged</assignToReference>
                        <name>isSlotChanged</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>serviceResources</assignToReference>
                        <name>serviceResources</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>selectedTimezone</assignToReference>
                        <name>selectedTimezone</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>engagementChannelTypeId</assignToReference>
                        <name>engagementChannelType</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TimeSlotScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>button1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Zmeniť termín rezervácie&quot;,&quot;value&quot;:&quot;change&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:change_record_type&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__In_Modify</sourceTemplate>
    <stages>
        <name>CandidateStage</name>
        <isActive>false</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <flowName>SFSCH_Send_Email_Notification</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Modify Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>assignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSlotChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[{&quot;UserPhoto&quot;:&quot;&quot;,&quot;ServiceTerritoryMemberId&quot;:&quot;0Hubm0000000VDWCA2&quot;,&quot;IsActive&quot;:true,&quot;ResourceType&quot;:&quot;S&quot;,&quot;RelatedRecordId&quot;:&quot;&quot;,&quot;Id&quot;:&quot;0Hnbm0000001TuPCAU&quot;,&quot;Name&quot;:&quot;ARX Omega&quot;,&quot;sobjectType&quot;:&quot;ServiceResource&quot;,&quot;AttendanceType&quot;:&quot;Required&quot;},{&quot;UserPhoto&quot;:&quot;https://l2lfitness2-dev-ed.develop.file.force.com/profilephoto/729bm000002oNgD/M&quot;,&quot;ServiceTerritoryMemberId&quot;:&quot;0Hubm0000000Va5CAE&quot;,&quot;IsActive&quot;:true,&quot;ResourceType&quot;:&quot;T&quot;,&quot;RelatedRecordId&quot;:&quot;005bm000002r49HAAQ&quot;,&quot;Id&quot;:&quot;0Hnbm0000001X3ZCAU&quot;,&quot;Name&quot;:&quot;Ryan Hobson&quot;,&quot;sobjectType&quot;:&quot;ServiceResource&quot;,&quot;AttendanceType&quot;:&quot;Primary&quot;}]</stringValue>
        </value>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
