force-app/main/default/flows/SFSCH_Buy_Credit_Online.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_revolut_order_Existing_Customer</name>
        <label>Create revolut order Existing Customer</label>
        <locationX>1083</locationX>
        <locationY>1214</locationY>
        <actionName>RevolutApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Payment_Item</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amountToPayRevolut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentIds</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>Account.Revolut_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>urlForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RevolutApi</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_revolut_order_New_Customer</name>
        <label>Create revolut order New Customer</label>
        <locationX>819</locationX>
        <locationY>1214</locationY>
        <actionName>RevolutApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Revolut_Id</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amountToPayRevolut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentIds</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Account.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullName</name>
            <value>
                <elementReference>Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>urlForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RevolutApi</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_login_token</name>
        <label>Generate login token</label>
        <locationX>951</locationX>
        <locationY>674</locationY>
        <actionName>INV_GenerateRegistrationCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account_login_token</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>INV_GenerateRegistrationCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Url</name>
        <label>Navigate To Url</label>
        <locationX>1149</locationX>
        <locationY>2162</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Set_Started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>checkoutURLFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Message</name>
        <label>Assign Message</label>
        <locationX>93</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prosím, pre pokračovanie, vyber jeden balík</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Buy_Credits_Online</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Values</name>
        <label>Assign Payment Values</label>
        <locationX>951</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>fPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPayment.Payment_Intent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPayment.Checkout_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkoutURLFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Order_Id_to_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revolut_Id</name>
        <label>Assign Revolut Id</label>
        <locationX>819</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Account.Revolut_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_revolut_order_New_Customer.customerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Revolut_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>priceRangeQuery</name>
        <dataType>String</dataType>
        <value>
            <stringValue>select id, name, Price_per_Credit__c, Lower_Band__c,Higher_Band__c, Range_Discount__c, Range__c  from Credit_Price_Range__c order by name ASC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Already_Paid</name>
        <label>Already Paid?</label>
        <locationX>489</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Cancel_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Paid_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Package_chosen</name>
        <label>Any Package chosen?</label>
        <locationX>522</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Generate_login_token</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>No_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditRangeTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Message</targetReference>
            </connector>
            <label>No Package</label>
        </rules>
    </decisions>
    <decisions>
        <name>modifiedCredits</name>
        <label>modifiedCredits?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Any_Package_chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Back_to_Menu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>backToMenu.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>backToMenu</stringValue>
                </rightValue>
            </conditions>
            <label>Back to Menu</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Revolut_Customer</name>
        <label>New Revolut Customer?</label>
        <locationX>951</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_revolut_order_Existing_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>Revolut_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Revolut_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_revolut_order_New_Customer</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>951</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Paid</targetReference>
            </connector>
            <label>Credit Change</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelPayment</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payNowButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Url</targetReference>
            </connector>
            <label>Pay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountToPayFormula</name>
        <dataType>Currency</dataType>
        <expression>{!creditRangeTable.firstSelectedRow.Price_per_Package__c} * {!quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayRevolut</name>
        <dataType>Number</dataType>
        <expression>{!amountToPayFormula}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayWoVAT</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula}/(1+{!Get_Metadata.LOWER_VAT__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>checkoutURLFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_revolut_order_Existing_Customer.checkoutUrl}),{!Create_revolut_order_New_Customer.checkoutUrl},{!Create_revolut_order_Existing_Customer.checkoutUrl})</expression>
    </formulas>
    <formulas>
        <name>intentFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_revolut_order_Existing_Customer.orderId}),{!Create_revolut_order_New_Customer.orderId},{!Create_revolut_order_Existing_Customer.orderId})</expression>
    </formulas>
    <formulas>
        <name>minimumtoBuy</name>
        <dataType>Number</dataType>
        <expression>IF({!Account.Availaible_Credit__c}&lt;1 &amp;&amp; NOT({!isGift}),-{!Account.Availaible_Credit__c},1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>soqlPackagesFormula</name>
        <dataType>String</dataType>
        <expression>IF({!packageType.value},
&quot;select id, name, Price_per_Credit__c, Price_per_ARX_Training__c,Quantity__c,Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = true order by Order__c ASC&quot;,
&quot;select id, name, Price_per_Credit__c,Quantity__c,Price_per_ARX_Training__c, Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = false order by Order__c ASC&quot;)</expression>
    </formulas>
    <formulas>
        <name>sumToCreditFormula</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!isGift})</expression>
    </formulas>
    <formulas>
        <name>tokenValidityFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <formulas>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <expression>{!quantity} * {!creditRangeTable.firstSelectedRow.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>uniqueGiftCode</name>
        <dataType>String</dataType>
        <expression>UPPER(RIGHT({!Create_Payment}, 4) &amp;
LEFT(RIGHT({!Create_Payment}, 8),4))</expression>
    </formulas>
    <formulas>
        <name>urlForm</name>
        <dataType>String</dataType>
        <expression>{!Get_RedirectURL.After_Payment_URL__c}+&quot;?redir=yes&amp;token=&quot; + {!Generate_login_token.randomNumber} + &quot;&amp;pmt=&quot; + {!Get_Current_Payment.Id}</expression>
    </formulas>
    <formulas>
        <name>VATFormula</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula} - {!amountToPayWoVAT}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SFSCH - Buy Credit Online {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Buy Credit Online</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Buy_Credits_Online</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calculate_with_VAT__c</field>
            <value>
                <elementReference>Get_Metadata.VAT_Payer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Gift__c</field>
            <value>
                <elementReference>isGift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Revolut</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Item</name>
        <label>Create Payment Item</label>
        <locationX>951</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Assign_Payment_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Price_Range__c</field>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>totalQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_To_Amount__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_To_Credit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Price_per_Credit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Payment</name>
        <label>Get Current Payment</label>
        <locationX>951</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RedirectURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revolut_Key__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RedirectURL</name>
        <label>Get RedirectURL</label>
        <locationX>951</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Revolut_Customer</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Website_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Payment</name>
        <label>Cancel Payment</label>
        <locationX>621</locationX>
        <locationY>2270</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Payment1</name>
        <label>Cancel Payment</label>
        <locationX>885</locationX>
        <locationY>2270</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Order_Id_to_payment</name>
        <label>Link Order Id to payment</label>
        <locationX>951</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Redirect_to_Payment</targetReference>
        </connector>
        <inputReference>fPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Started</name>
        <label>Set Started</label>
        <locationX>1149</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>CloseTabScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_login_token</name>
        <label>Update Account login token</label>
        <locationX>951</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Current_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>One_Time_Token_Validity__c</field>
            <value>
                <elementReference>tokenValidityFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Token__c</field>
            <value>
                <elementReference>Generate_login_token.randomNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Revolut_Id</name>
        <label>Update Account Revolut Id</label>
        <locationX>819</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Payment_Item</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Paid_Screen</name>
        <label>Already Paid</label>
        <locationX>357</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>logo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>alreadyPaidText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Poplatok bol spracovaný, zmena počtu X-Tokenov už nie je možná&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Späť do menu</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Buy_Credits_Online</name>
        <label>Buy Credits Online</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>modifiedCredits</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>š0%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BuyCreditsSection</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Kúpiť X-Token Kredity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>explTogggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nápoveda</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>buyCreditExplanation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.SFSCH_ToggleHelp_PayTable_Screen}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>explTogggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>packageType</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Typ Balíka</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Chcem sám cvičiť</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Vo dvojici</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>fetchCredits</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>soqlPackagesFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>etre</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;{!error}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>creditRangeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>X-Token Cenník cena/ks pri určitom množstve</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fetchCredits.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a97c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Balík&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Credit Price Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-b0cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Počet X-Tokenov&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Price_per_Credit__c&quot;,&quot;guid&quot;:&quot;column-f31b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena za 1 X-Token&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Price per Credit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Price_per_Package__c&quot;,&quot;guid&quot;:&quot;column-b391&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena za Balík&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Price per Package&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Range_Discount__c&quot;,&quot;guid&quot;:&quot;column-c4f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zľava&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Range Discount&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Price_per_ARX_Training__c&quot;,&quot;guid&quot;:&quot;column-f757&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/Tréning&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Price per ARX Training&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Množstvo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>totalQuantityField</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>totalQuantity</elementReference>
                    </defaultValue>
                    <fieldText>Celkové Množstvo X-Tokenov</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount_to_pay</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayFormula</elementReference>
                    </defaultValue>
                    <fieldText>Celková cena</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>priceWoVAT</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayWoVAT</elementReference>
                    </defaultValue>
                    <fieldText>Celková cena bez DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DPH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>VATFormula</elementReference>
                    </defaultValue>
                    <fieldText>DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>backToMenu</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Zaplatiť&quot;,&quot;value&quot;:&quot;pay&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Zaplatiť</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>cancelPayment</name>
        <label>cancelPayment</label>
        <locationX>885</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť</backButtonLabel>
        <connector>
            <targetReference>Cancel_Payment1</targetReference>
        </connector>
        <fields>
            <name>logo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Naozaj si želáte zrušiť platbu?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Áno</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloseTabScreen</name>
        <label>CloseTabScreen</label>
        <locationX>1149</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>logo4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeTabDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Toto okno môžete zavrieť&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Payment</name>
        <label>Redirect to Payment</label>
        <locationX>951</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>paymentInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Tvoj odkaz na platbu je pripravený. Prosím klikni na tlačidlo nižšie a budeš presmerovaný na platobný portál. Ďakujeme&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirect_to_Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_to_Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>payNowButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Zaplatiť {!amountToPayFormula} s povinnosťou platby&quot;,&quot;value&quot;:&quot;pay&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>margin-bottom: 20px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>termsConditionsCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>payNowDisabled</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Zaplatiť {!amountToPayFormula} s povinnosťou platby&quot;,&quot;value&quot;:&quot;none&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>pointer-events: none; cursor: not-allowed; opacity: 0.5; margin-bottom: 20px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>termsConditionsCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>termsConditionsCheck</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!termsConditionsText}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>finishButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Zmeniť počet X-Tokenov&quot;,&quot;value&quot;:&quot;creditChange&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:change_record_type&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Zrušiť platbu&quot;,&quot;value&quot;:&quot;cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Späť do menu</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payButtonFormula</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_blank&quot; href={!checkoutURLFormula} style=&quot;position: absolute&quot;&gt;Zaplatiť {!amountToPayFormula} s povinnosťou platby&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>payButtonFormulaDisabled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span class=&quot;slds-button slds-button_brand&quot; style=&quot;background-color:gray; position: absolute&quot;&gt;Zaplatiť {!amountToPayFormula} s povinnosťou platby&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>termsConditionsText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Súhlasím s &lt;a href=&quot;https://www.evoxise.sk/s/vseobecne-obchodne-podmienky&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;v3eobecnými obchodnými podmienkami&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>isGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>screenCreditCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
