force-app/main/default/flows/SFSCH_Appointment_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Scheduled_For_Tomorrow</name>
        <label>Is Scheduled For Tomorrow?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tomorrow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime})</expression>
    </formulas>
    <formulas>
        <name>tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <interviewLabel>SFSCH - Appointment Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Appointment Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Scheduled_For_Tomorrow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-31</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <flowName>SFSCH_Send_Email_Notification</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Exercise Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
