force-app/main/default/flows/SFSCH_Create_Gift_Card_after_Paid_payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>uniqueGiftCode</name>
        <dataType>String</dataType>
        <expression>UPPER(RIGHT({!$Record.Id}, 4) &amp; 
LEFT(RIGHT({!$Record.Id}, 8),4))</expression>
    </formulas>
    <interviewLabel>SFSCH - Create Gift Card after Paid payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSCH - Create Gift Card after Paid payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Gift_Card</name>
        <label>Create Gift Card</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Gift_lookup_on_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer__c</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credits__c</field>
            <value>
                <elementReference>Get_Payment_Item.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Per_Credit__c</field>
            <value>
                <elementReference>Get_Payment_Item.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Code__c</field>
            <value>
                <elementReference>uniqueGiftCode</elementReference>
            </value>
        </inputAssignments>
        <object>Gift_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Item</name>
        <label>Get Payment Item</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Gift_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gift_lookup_on_Payment</name>
        <label>Update Gift lookup on Payment</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Send_Gift_Code</targetReference>
        </connector>
        <inputAssignments>
            <field>Gift_Card__c</field>
            <value>
                <elementReference>Create_Gift_Card</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Item</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Gift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Gift_Code</name>
        <label>Send Gift Code</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <flowName>SFSCH_Send_Email_Notification</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Send Gift Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
