force-app/main/default/flows/SFSCH_Buy_Credit_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Summary</name>
        <label>Add to Summary</label>
        <locationX>438</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>amountToPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>amountToPayFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Products_to_Buy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message</name>
        <label>Assign Message</label>
        <locationX>702</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Products_Values</name>
        <label>Assign Products Values</label>
        <locationX>790</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FIlter_Products.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Sum_To_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FIlter_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fPaymentItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FIlter_Products.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fPaymentItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amountToPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addAmountProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FIlter_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>null</name>
        <label>null</label>
        <locationX>174</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>amountToPay</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Buy_Credits_Online</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>eight</name>
        <choiceText>&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;8x Tréning =&amp;gt; 80 X-Tokenov&lt;/strong&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>four</name>
        <choiceText>&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;4x Tréning =&amp;gt; 40 X-Tokenov&lt;/strong&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>six</name>
        <choiceText>&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;6x Tréning =&amp;gt; 60 X-Tokenov&lt;/strong&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Products</label>
        <locationX>810</locationX>
        <locationY>1622</locationY>
        <assignNextValueToReference>currentItem_Filter_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>tableProducts.outputRemainingRows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Products.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Not_Empty_FIlter</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>priceRangeQuery</name>
        <dataType>String</dataType>
        <value>
            <stringValue>select id, name, Price_per_Credit__c, Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c order by name ASC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Credits</name>
        <label>Any Credits?</label>
        <locationX>570</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Any_Products_to_Buy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>amountToPayFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Item</targetReference>
            </connector>
            <label>Yes_Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Items_to_process</name>
        <label>Any Items to process?</label>
        <locationX>810</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Items_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentItemList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Items</targetReference>
            </connector>
            <label>Items Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Products_to_Buy</name>
        <label>Any Products to Buy?</label>
        <locationX>570</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products</defaultConnectorLabel>
        <rules>
            <name>Yes_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tableProducts.outputSelectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Products</targetReference>
            </connector>
            <label>Yes_Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>modifiedCredits</name>
        <label>modifiedCredits?</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Any_Credits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Back_to_Menu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>backToMenu.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>backToMenu</stringValue>
                </rightValue>
            </conditions>
            <label>Back to Menu</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Empty_FIlter</name>
        <label>Not Empty FIlter</label>
        <locationX>810</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Any_Items_to_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_FIlter_Products</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>570</locationX>
        <locationY>2798</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>creditChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Payment</targetReference>
            </connector>
            <label>Credit Change</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelPayment</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>PlatbapayDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment</targetReference>
            </connector>
            <label>Platba</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>termsCHoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Terms__c</picklistField>
        <picklistObject>Credit_Price_Range__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addAmountProducts</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_FIlter_Products.Quantity__c} * {!Loop_FIlter_Products.Unit_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayFormula</name>
        <dataType>Currency</dataType>
        <expression>{!creditRangeTable.firstSelectedRow.Price_per_Package__c} * {!quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayRevolut</name>
        <dataType>Number</dataType>
        <expression>{!amountToPayFormula}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountToPayWoVAT</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula}/(1+{!Get_Metadata.LOWER_VAT__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>messageFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Platba úspešná v hodnote &quot; + Text({!amountToPay}) + &quot; EUR&quot;</expression>
    </formulas>
    <formulas>
        <name>minimumtoBuy</name>
        <dataType>Number</dataType>
        <expression>IF({!Account.Availaible_Credit__c}&lt;1 &amp;&amp; NOT({!isGift}),-{!Account.Availaible_Credit__c},1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>soqlPackagesFormula</name>
        <dataType>String</dataType>
        <expression>IF({!packageType.value},
&quot;select id, name, Price_per_Credit__c, Price_per_ARX_Training__c,Quantity__c,Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = true AND RecordtypeId = &apos;&quot; + {!Get_Credit_Programs_Recordtype.Id} + &quot;&apos; order by Order__c ASC&quot;,
&quot;select id, name, Price_per_Credit__c,Quantity__c,Price_per_ARX_Training__c, Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c = false  AND RecordtypeId = &apos;&quot; + {!Get_Credit_Programs_Recordtype.Id} + &quot;&apos;order by Order__c ASC&quot;)</expression>
    </formulas>
    <formulas>
        <name>soqlSubscription</name>
        <dataType>String</dataType>
        <expression>&quot;select id, name, Price_per_Credit__c, Price_per_ARX_Training__c,Quantity__c,Price_per_Package__c, Single_Package__c,Terms__c, Count_of_Trainings__c,Range_Discount__c from Credit_Price_Range__c WHERE Count_of_Trainings__c = &quot; + TExt({!valueChosen}) + &quot; AND RecordtypeId = &apos;&quot; + {!Get_Monthly_Subscription_Recordtype.Id} + &quot;&apos; order by Terms__c ASC&quot;</expression>
    </formulas>
    <formulas>
        <name>sumToCreditFormula</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Gift.value})</expression>
    </formulas>
    <formulas>
        <name>tokenValidityFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <formulas>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <expression>{!quantity} * {!creditRangeTable.firstSelectedRow.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>uniqueGiftCode</name>
        <dataType>String</dataType>
        <expression>UPPER(RIGHT({!Create_Payment}, 4) &amp;
LEFT(RIGHT({!Create_Payment}, 8),4))</expression>
    </formulas>
    <formulas>
        <name>valueChosen</name>
        <dataType>Number</dataType>
        <expression>IF({!countTrainings}= {!four}, 4,
IF({!countTrainings}= {!six}, 6,8))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VATFormula</name>
        <dataType>Currency</dataType>
        <expression>{!amountToPayFormula} - {!amountToPayWoVAT}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SFSCH - Buy Credit Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - Buy Credit Internal</label>
    <loops>
        <name>Loop_FIlter_Products</name>
        <label>Loop FIlter Products</label>
        <locationX>702</locationX>
        <locationY>1838</locationY>
        <collectionReference>Filter_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Products_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Items_to_process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>526</locationX>
        <locationY>1514</locationY>
        <collectionReference>tableProducts.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Items</name>
        <label>Create Items</label>
        <locationX>678</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
        <inputReference>paymentItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>modifiedCredits</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calculate_with_VAT__c</field>
            <value>
                <elementReference>Get_Metadata.VAT_Payer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Gift__c</field>
            <value>
                <elementReference>Gift.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Card at Branch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Item</name>
        <label>Create Payment Item</label>
        <locationX>438</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Add_to_Summary</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Price_Range__c</field>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>totalQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_To_Amount__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_To_Credit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>creditRangeTable.firstSelectedRow.Price_per_Credit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Programs_Recordtype</name>
        <label>Get Credit Programs Recordtype</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Monthly_Subscription_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Price_Range__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Package</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Evoxise_Recordtype</name>
        <label>Get Evoxise Recordtype</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Programs_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evoxise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Evoxise_Recordtype</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revolut_Key__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Monthly_Subscription_Recordtype</name>
        <label>Get Monthly Subscription Recordtype</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Price_Range__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly_Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>702</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Recepit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buy_Credits_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Evoxise_Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Website_Settings__c.Credit_Product_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Payment</name>
        <label>Cancel Payment</label>
        <locationX>174</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Payment1</name>
        <label>Cancel Payment</label>
        <locationX>438</locationX>
        <locationY>3014</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>702</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <screens>
        <name>Buy_Credits_Online</name>
        <label>Buy Credits Online</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>buttonShowProducts</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Show Products&quot;,&quot;value&quot;:&quot;Show Products&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Show Credits&quot;,&quot;value&quot;:&quot;Show Credits&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:activity&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Show Credits</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>align-items: center; display: flex; justify-content: center; margin-bottom: 15px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuyCreditsSection</name>
                    <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Kúpiť X-Token Kredity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>buttonShowProducts.values</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Show Credits</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>buttonPrograms</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Credit Packages&quot;,&quot;value&quot;:&quot;Credit Packages&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Monthly Subscription&quot;,&quot;value&quot;:&quot;Monthly Subscription&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>align-items: center; display: flex; justify-content: center; margin-bottom: 15px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Monthly Subscription</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>packageType</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Typ Balíka</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Chcem sám cvičiť</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Vo dvojici</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>fetchCredits</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>soqlPackagesFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>creditRangeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cennik X-Token Balíkov</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fetchCredits.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a37&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Balík&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Credit Price Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-1b1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Počet X-Tokenov&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Price_per_Credit__c&quot;,&quot;guid&quot;:&quot;column-d9db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/X-Token&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Price per Credit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Price_per_Package__c&quot;,&quot;guid&quot;:&quot;column-9302&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena za Balík&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Price per Package&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Range_Discount__c&quot;,&quot;guid&quot;:&quot;column-eb17&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zľava&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Range Discount&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Price_per_ARX_Training__c&quot;,&quot;guid&quot;:&quot;column-e75f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/Tréning&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Price per ARX Training&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gift</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Gift</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Gift</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Not Gift</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Množstvo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount_to_pay</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayFormula</elementReference>
                    </defaultValue>
                    <fieldText>Celková cena</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>priceWoVAT</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>amountToPayWoVAT</elementReference>
                    </defaultValue>
                    <fieldText>Celková cena bez DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DPH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>VATFormula</elementReference>
                    </defaultValue>
                    <fieldText>DPH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Metadata.VAT_Payer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>backToMenu</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Späť do menu&quot;,&quot;value&quot;:&quot;backToMenu&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>buttonShowProducts.values</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Show Credits</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>buttonPrograms.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Packages</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>countTrainings</name>
                    <choiceReferences>four</choiceReferences>
                    <choiceReferences>six</choiceReferences>
                    <choiceReferences>eight</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Počet Tréningov Mesačne</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sso</name>
                    <fieldText>&lt;p&gt;{!soqlSubscription}&lt;/p&gt;&lt;p&gt;{!countTrainings}&lt;/p&gt;&lt;p&gt;{!four}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>buttonPrograms.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Monthly Subscription</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fetchSubscription</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>systemAccess</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>withSharing</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>soqlSubscription</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>subscriptionTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Price_Range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cenník Mesačných Programov</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fetchSubscription.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0983&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Credit Price Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Terms__c&quot;,&quot;guid&quot;:&quot;column-f2ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Viazanosť (Mesiac)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Terms&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-d5db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Počet X-Tokenov&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Price_per_Credit__c&quot;,&quot;guid&quot;:&quot;column-7067&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena/X-Token&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Price per Credit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Price_per_Package__c&quot;,&quot;guid&quot;:&quot;column-93b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cena za mesiac&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Price per Package&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Range_Discount__c&quot;,&quot;guid&quot;:&quot;column-7977&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zľava Mesačne&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Range Discount&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countTrainings</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>fetchSubscription.firstRetrievedRecord.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countTrainings</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>buttonPrograms.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Monthly Subscription</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SectionProducts</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Kúpiť Produkty&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>buttonShowProducts.value</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Show Products</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Buy_Credits_Online_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_Credits_Online_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tableProducts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Product2</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Products</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showPagination</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showPagination</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordsPerPage</name>
                        <value>
                            <numberValue>20.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRowNumbers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showSelectedCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showSelectedCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Quantity__c,Unit_Price__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:0, Quantity__c:0, Unit_Price__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>Quantity__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>Name_lookup:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>buttonShowProducts.values</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Show Products</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buy_Credits_Online_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Zaplatiť</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>cancelPayment</name>
        <label>cancelPayment</label>
        <locationX>438</locationX>
        <locationY>2906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť</backButtonLabel>
        <connector>
            <targetReference>Cancel_Payment1</targetReference>
        </connector>
        <fields>
            <name>logo44</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(68, 68, 68);&quot;&gt;Naozaj si želáte zrušiť platbu?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Áno</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Payment</name>
        <label>Redirect to Payment</label>
        <locationX>570</locationX>
        <locationY>2690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
        <fields>
            <name>logo22</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>paymentInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!sectionBox}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Zákazník ma na výber platbu kartou, Scan QR kod alebo hotovosťou&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirect_to_Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_to_Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>info</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Scan QR Code&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; - Zákaznik oscanuje QR Code a urobí platbu&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Platba Kartou použitím terminalu&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; - Otvor si Revolut a nastav platbu. Daj zákaznikovi zaplatit priložením alebo vložením karty&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Platba Hotovosťou&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; - vyplať zákazníka&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Po zaplatení klikno na &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&quot;Platba Sprocesovaná&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dd</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Suma na úhradu&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirect_to_Payment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_to_Payment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ddd</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(12, 150, 19); font-size: 22px;&quot;&gt;{!amountToPay} EUR&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Redirect_to_Payment_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>finishButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Zmeniť počet X-Tokenov&quot;,&quot;value&quot;:&quot;creditChange&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:change_record_type&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Zrušiť platbu&quot;,&quot;value&quot;:&quot;cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Platba Sprocesovaná&quot;,&quot;value&quot;:&quot;Pay&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Zaplatiť nabudúce&quot;,&quot;value&quot;:&quot;payNext&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:jump_to_right&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Späť do menu</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_Recepit</name>
        <label>Send Recepit</label>
        <locationX>702</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Assign_Message</targetReference>
        </connector>
        <flowName>SFSCH_Send_Receipt_to_Customer_subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Payment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade slds-theme_alert-texture&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>termsConditionsText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Súhlasím s &lt;a href=&quot;www.google.sk&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;obchodnými podmienkami&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>amountToPay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>fPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>fPaymentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>isGift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Items__c</objectType>
    </variables>
    <variables>
        <name>screenCreditCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>soqlPackages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>select id, name, Price_per_Credit__c, Price_per_Package__c, Single_Package__c, Range_Discount__c from Credit_Price_Range__c where Single_Package__c =  {!packageType.value}  order by name ASC</stringValue>
        </value>
    </variables>
</Flow>
