force-app/main/default/flows/SFSCH_My_Payments_Internal_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>PayButton2</name>
        <label>PayButton</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Confirm</targetReference>
            </connector>
            <label>Pay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getPaymentFormula</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT id, Name, Account__c, Amount_to_Pay__c, Credit__c, Status__c, Payment_date__c, Checkout_URL__c from Payment__c where Status__c in &quot;+IF({!paymentType.value}==&apos;processed&apos;, &quot;(&apos;Paid&apos;)&quot;, &quot;(&apos;Started&apos;,&apos;At Branch&apos;)&quot;)+&quot; AND Account__c = &apos;&quot;+{!Account.Id}+&quot;&apos; AND Amount_to_Pay__c &gt; 0 ORDER BY Name &quot;+ IF({!paymentType.value}==&apos;waiting&apos;, &quot;ASC&quot;, &quot;DESC&quot;)</expression>
    </formulas>
    <formulas>
        <name>getPaymentItemsFormula</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Product_Name__c, Name, Quantity__c, Unit_Price__c, Total_Amount__c FROM Payment_Items__c WHERE Payment__c = &apos;&quot;+{!myPaymentsTable.firstSelectedRow.Id}+&quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>SFSCH - My Payments Internal Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SFSCH - My Payments Internal Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SFSCH_Send_Receipt_to_Customer_subflow_Flow_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myPaymentsTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_to_Paid</name>
        <label>Update Payment to Paid</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myPaymentsTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MyPaymentsScreen</name>
        <label>MyPaymentsScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PayButton2</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>myPayments_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!sectionBox}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Moje Platby&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MyPaymentsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MyPaymentsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MyPaymentsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paymentType</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Čakajúce Platby&quot;,&quot;value&quot;:&quot;waiting&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Spracované platby&quot;,&quot;value&quot;:&quot;processed&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <stringValue>yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>waiting</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>align-items: center; display: flex; justify-content: center; margin-bottom: 15px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>getPaymentsBySelectedType2</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>getPaymentFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>systemAccess</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>withSharing</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>getPaymentItems2</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payment_Items__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>getPaymentItemsFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>systemAccess</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>withSharing</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MyPaymentsScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MyPaymentsScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MyPaymentsScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>myPaymentsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>getPaymentsBySelectedType2.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-991d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Č. Platby&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Purchase Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount_to_Pay__c&quot;,&quot;guid&quot;:&quot;column-ebee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Suma&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Payment Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Is_Gift__c&quot;,&quot;guid&quot;:&quot;column-36e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Darček&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Is Gift?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Credit__c&quot;,&quot;guid&quot;:&quot;column-fef7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;X-Token kredity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Credit&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Payment_Date__c&quot;,&quot;guid&quot;:&quot;column-2bf4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Dátum&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Payment Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MyPaymentsScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>myPaymentItems</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payment_Items__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>getPaymentItems2.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-2006&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Položka&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-fbfc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Množstvo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-7eec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;J. cena&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Amount__c&quot;,&quot;guid&quot;:&quot;column-f4f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Spolu&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>myPaymentsTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>payButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Zaplatiť&quot;,&quot;value&quot;:&quot;Pay&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:money&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>myPaymentsTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>paymentType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>waiting</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Späť do menu</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm</name>
        <label>Screen Confirm</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Späť</backButtonLabel>
        <connector>
            <targetReference>Update_Payment_to_Paid</targetReference>
        </connector>
        <fields>
            <name>logo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>logoblack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>testss</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Zákazník ma na výber platbu kartou, Scan QR kod alebo hotovosťou&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Confirm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Confirm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Confirm_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Scan QR Code - Zákaznik oscanuje QR Code a urobí platbu&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Platba Kartou použitím terminalu - Otvor si Revolut a nastav platbu. Daj zákaznikovi zaplatit priložením alebo vložením karty&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Platba Hotovosťou - vyplať zákazníka&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Po zaplatení pokračuj ďalej&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Confirm_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;{!sectionBox}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Platba na úhradu&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Confirm_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Confirm_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Confirm_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(8, 147, 12);&quot;&gt;{!myPaymentsTable.firstSelectedRow.Amount_to_Pay__c} EUR&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Confirm_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Platba Zaplatená</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MyPaymentsScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFSCH_Send_Receipt_to_Customer_subflow_Flow_1</name>
        <label>SFSCH - Send Receipt to Customer subflow Flow 1</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>SFSCH_Send_Receipt_to_Customer_subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Payment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>payButtonFormula</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_blank&quot; href={!myPaymentsTable.firstSelectedRow.Checkout_URL__c}&gt;Zaplatiť {!myPaymentsTable.firstSelectedRow.Amount_to_Pay__c} €&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sectionBox</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Processed_Payments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
</Flow>
